[2021-08-09 16:30] simonmichael opened #1 "install failure on mac m1"
Found this project via https://www.reddit.com/r/haskell/comments/p12pjs/ann_monomer_a_gui_library_for_haskell. Thank you very much!

Installing went well up to this point:
[code]

Not sure if it's an artifact of my machine, or a general problem for all mac m1 users.

[code]

[2021-08-09 16:48] fjvallarino commented on #1
Hi @simonmichael!

It looks like an issue with the architecture. I tested on an x86 Macbook Pro, but I have not been able to try it on an M1 so far.

I'll take a look if I can figure something out, but unfortunately I can't test it myself for the moment.

[2021-08-09 21:51] fjvallarino commented on #1
As soon as Stackage publishes a new version using GHC 8.10.5 (the latest 8.x branch in Stackage is 8.10.4), I'll push a branch with revised version bounds. There is a nightly with 9.0.1 too. If you, or somebody with an M1 can try it, it would be great!

I plan on getting an M1 when the new ones are released, but I don't know when that is going to happen (so, unfortunately, I'm not an option for te

[2021-08-10 00:35] jc00ke opened #2 "None of the examples build on Linux (specifically Ubuntu 21.04)"
[code]

[code]

I can go back and get the other ones later, if that would help. I know they're dependencies but I'd love to play around with the demos.

[2021-08-10 00:40] fjvallarino commented on #2
Hi @jc00ke!

I see you're using GHC 9.0.1? Have you updated stack.yaml to point to a different version of Stackage? To which version?

If that's not how you built the examples, how did you build them?

I'm using Ubuntu 21.04 and, using Stack as suggested in the [Setup](https://github.com/fjvallarino/monomer/blob/main/docs/tutorials/00-setup.md) page, builds correctly.

[2021-08-10 01:13] jc00ke commented on #2
Hi! I used `asdf` to install Haskell and then in each directory I ran `stack build`. I'm new to the Haskell ecosystem so I can't be certain I have everything set up correctly. I default to using `asdf` when possible.

[2021-08-10 01:24] fjvallarino commented on #2
Even if you're building the library and not the starter project, checking the setup page might be a good idea. If you already have `stack` installed (it seems you have it), you only need to check the non-haskell dependencies section (you may have problems installing libsdl-dev, and a possible solution for that is suggested).

Then you need to run `stack build` inside the top level directory of the

[2021-08-10 18:28] jc00ke commented on #2
Hmm, this fails from the top level.

<details>
<summary>monomer> stack build</summary>

[code]

</details>

Looks like I have the right deps, yeah?

[code]

[code]

I didn't modify `stack.yaml` but I can if it'll help!

<details>

<summary>stack.yaml</summary>

[code]

</details>

[2021-08-10 18:38] fjvallarino commented on #2
I think this is related to an issue on `asdf` itself: https://github.com/asdf-community/asdf-haskell/issues/7; apparently asdf ignores the compiler version defined in the project's stack.yaml.

If you install Stack as suggested in its [website](https://docs.haskellstack.org/en/stable/install_and_upgrade/), everything should work fine. Just in case, make sure to remove `.stack-work` from the projec

[2021-08-10 20:08] jc00ke commented on #2
Interesting. When I manually install `stack` everything builds and runs fine. I'll keep an eye on asdf-community/asdf-haskell#7.

[2021-08-10 20:08] #2 closed

[2021-08-12 11:18] jhrcek opened #5 "Public API contains not-exported types."
There's quite a few places in the API where Haddocks mention some type, but that type is not exposed from the available modules.

Few examples of this:
-  [EventReponse](https://hackage.haskell.org/package/monomer-1.0.0.0/docs/Monomer-Widgets-Composite.html#t:EventResponse) mentions TaskHandler, but this type is nowhere to be found in the haddocks.

- [Button](https://hackage.haskell.org/package/m

[2021-08-13 03:34] fjvallarino commented on #5
@jhrcek I just published a new version with the configuration types exported, plus their documentation re-organized (it existed, it just was not visible). It's quite unfortunate I had to export some types for Haddock to generate the documentation, particularly those belonging to Composite; those types were supposed to be internal helpers and not reserve names a user would potentially want to use.

[2021-08-13 03:47] jhrcek commented on #5
Thank you for the quick fix and response!
Fixed in https://github.com/fjvallarino/monomer/commit/68a8eb786ced7a4b95819ba4218df0935482e3b2

[2021-08-13 03:47] #5 closed

[2021-08-13 08:40] gvolpe opened #6 "nanovg is marked broken on nixpkgs"
Hi,

I've been wanting to try out this library for a while since it looks great (thanks for making it!) but I am having issues using it due to the `nanovg` dependency not building on Nixpkgs.

I know this is more an issue of `nanovg` but it's not a very active project so I've seen you contributed to it and might have an idea on how I can get this working? Even if you don't use Nix, it might be of

[2021-08-13 11:22] gvolpe commented on #6
Okay, I managed to get this working thanks to your PR https://github.com/cocreature/nanovg-hs/pull/14 🥳  Here's what I got:

[code]

Maybe someone else finds this helpful :)

[2021-08-13 11:22] #6 closed

[2021-08-13 13:03] fjvallarino commented on #6
@gvolpe nice! Hopefully, the nanovg-hs PR can be merged at some point, and this works out of the box. Thanks!

[2021-08-14 07:30] hasufell opened #7 "Unbuildable"
This package was uploaded to hackage but is unbuildable, due to:

https://github.com/fjvallarino/monomer/blob/523355c389621330d3f026384b9673548a3f5f8d/stack.yaml#L46-L49

[code]

[2021-08-14 16:09] fjvallarino commented on #7
Hi @hasufell! Yesterday I submitted a PR to see if it is possible to have `libglew-dev` added to the list of available libraries on Hackage. That missing library is causing nanovg's 0.7.0.0 build to fail and is the reason why I'm waiting to push 0.8.0.0 to Hackage (which, in turn, causes the Monomer build failure).  As soon as that library is available, or if the PR is rejected, I will push 0.8.0.

[2021-08-14 16:12] hasufell commented on #7
delete it then, it shouldn't be needed

[2021-08-15 05:59] juhp commented on #1
8.10.6 was just released which should support M1 better, and fix the RTS symbol regression in 8.10.5.

[2021-08-15 10:51] tomsmeding opened #9 "Error when running example: glMakeCurrent"
Trying to run [the first tutorial example program](https://github.com/fjvallarino/monomer/blob/523355c389621330d3f026384b9673548a3f5f8d/examples/tutorial/Tutorial01_Basics.hs) by creating a new cabal project, adding nanovg-hs at https://github.com/cocreature/nanovg-hs/commit/ba8733f58da63e0934b5d2853ed84b71e872e6f1 and monomer at https://github.com/fjvallarino/monomer/commit/523355c389621330d3f026

[2021-08-15 17:05] fjvallarino commented on #9
Hi @tomsmeding!

Are you able to run other OpenGL applications? Running `glxinfo` could help check if all works fine. Your driver seems to be up to date; I was checking this [thread](https://bbs.archlinux.org/viewtopic.php?pid=1776862#p1776862) that suggests running `pacman -Syu`,  but you've probably already done that.

[2021-08-15 17:15] tomsmeding commented on #9
@fjvallarino `glxinfo` outputs lots of stuff and then exits with code 0; `glxgears` shows me some spinning gears. `glxgears -info` shows me that it's indeed running on my nvidia card. I had done a full system update recently but did it again to be sure, no change; I recompiled the world using GHC 8.10.6 and no change.

[2021-08-15 17:23] fjvallarino commented on #9
I'm looking for clues regarding what could be happening (there are quite a few instances of that error message on Google!).

I have this [minimal example](https://github.com/fjvallarino/sdl-continuous-resize) I created to test threaded rendering (needed to be able to keep rendering while the window is resized). Maybe it's easier to debug? The _important_ moments area [this](https://github.com/fjva

[2021-08-15 17:48] tomsmeding commented on #9
@fjvallarino That project fails with the exact same error. I also tried using stack instead of cabal (which is made difficult by the fact that stack bundles an old version of c2hs that isn't compatible with my system's gcc 11, or something, meaning I have to laboriously convince it to use gcc 10), but that fails in the same way again.

I'll try debugging this some, but no guarantees.

[2021-08-15 19:22] tomsmeding commented on #9
@fjvallarino This is a modification of `Main.hs` of https://github.com/fjvallarino/sdl-continuous-resize: https://paste.tomsmeding.com/ai3lXJdj. With `doTHREADED = True` it should be equivalent to the original code; with `doTHREADED = False` it doesn't have the eventloop/renderloop thread separation and just runs the loops interlocked on one thread.

With `doTHREADED = True` it errors for me with

[2021-08-15 20:07] fjvallarino commented on #9
@tomsmeding that's really interesting! I would think it's a driver issue too. I'll see how I can fit this into the library. I think it will most likely need to be a build flag to choose between single-threaded or multithreaded (unless I can somehow detect if the application invoking the library is built with `-threaded`).

The rendering code ran in the main thread earlier, but that made it impossi

[2021-08-15 20:15] tomsmeding commented on #9
That indeed works for me. It would be kind of sad, though, if it wasn't possible to make a GUI with monomer for a Haskell app that uses the threaded runtime; there are more things that need the threaded runtime, for example certain FFI-using functionality I believe.

I'll be busy the coming weeks and might not have more time to look at this. In any case, thanks for the good work. :)

[2021-08-16 02:08] fjvallarino commented on #9
@tomsmeding just in case, I pushed new changes; I have not created a new Hackage version yet, since there are issues with a dependency that I want to solve first.

This change, commit 3993c1ca418e285f6401bfc2b99b8ef22f254088, adds a new application config option named `appRenderOnMainThread` that avoids creating a separate rendering thread. It has the disadvantage that continuous resizing will not

[2021-08-16 06:07] tomsmeding commented on #9
Seems to work! Awesome :)

[2021-08-17 08:26] gvolpe commented on #6
I've made this based on the Books' example, and I really enjoyed how well-designed Monomer is, thanks so much for your work!

https://github.com/gvolpe/fts

Saludos :)

[2021-08-17 12:42] dpwiz opened #10 "Decouple opengl/rendering from widgets/core"
I don't know how deep the current connection goes, but I would be glad to reuse the application framework with different (vulkan, glfw, etc.) renderer.

[2021-08-17 18:41] fjvallarino commented on #6
@gvolpe this looks really cool!

I would like to add a page on the repository to show projects that use the library. Would it be okay for you if I link to this repository?

Thanks!

[2021-08-17 19:00] gvolpe commented on #6
💯 , please go ahead :)

[2021-08-17 19:10] fjvallarino commented on #10
Hi @dpwiz!

The library has a [Renderer](https://github.com/fjvallarino/monomer/blob/main/src/Monomer/Graphics/Types.hs#L246) abstraction that is used by widgets for all rendering related operations. Currently, there is only one implementation based on NanoVG, although other implementations could be added. I recently added this section to [Design decisions](https://github.com/fjvallarino/monomer/b

[2021-08-17 21:57] fjvallarino commented on #9
@tomsmeding thanks for reporting this!

I'll close the issue. If you consider something is missing, feel free to reopen it or create a new one. Thanks!

[2021-08-17 21:57] #9 closed

[2021-08-18 11:27] oshyshko opened #11 "Build problem with `stack build` on x86 mac"
[code]

Environment:
[code]

[2021-08-18 12:15] dpwiz commented on #10
Hmm. Building on DearImGui is an interesting venue - opens up many different backends.

[2021-08-18 12:16] dpwiz commented on #10
The polymorphic event story is a mess, I agree. I, too, decided to ditch it for now, in my engine and stuck with glfw instead.

[2021-08-18 12:50] fjvallarino commented on #11
Hi @oshyshko!

Sorry for that. Last night a dependency's PR was merged, and the commit hash became invalid. I just updated `stack.yaml` to use the recently published Hackage version, which will avoid this kind of issue in the future. If you run `git pull` and `stack build` again, it should work now.

I will update the `monomer-starter` project shortly.

Thanks!

[2021-08-18 13:33] fjvallarino commented on #10
Just to clarify, the widgets are agnostic to SDL2. They handle events and requests using Monomer's types and functions.

What I mean when I say that it is tied to SDL2 is that the internals, which are not visible to library users, are programmed directly using SDL2 functions instead of using some abstraction. This is contrary to what happens with Renderer, which can be swapped for a different one.

[2021-08-18 13:40] oshyshko commented on #11
Problem solved. Thank you.

[2021-08-18 13:40] #11 closed

[2021-08-18 14:43] fjvallarino commented on #7
@hasufell nanovg-0.8.0.0 now builds fine on Hackage (the libglew-dev PR was recently accepted). I also deployed monomer-1.0.0.2, which references that version of nanovg instead of the old commit hash.

[2021-08-19 02:05] smunix opened #12 "Add support for Nix"
To make reproducible builds possible for users, should we add support for Nix? I'm sitting ready to push a PR if this is a feature users would want to have.

Also thanks for putting this up, I've been waiting on such a framework for a long time now.

[2021-08-19 14:57] fjvallarino commented on #12
Hi @smunix!

It would be great to have it! I prefer to make it optional with `nix: enable: false`. Users who want to build with Nix would then use `stack --nix build`.

The reason for this is to avoid imposing an extra requirement on users. My main objective with the library is that it should be easy to use, and Stack allows for a simple setup process that is mostly equal in Windows, Linux, and ma

[2021-08-19 17:13] smunix commented on #12
I'd like to suggest that we don't touch on stack configuration builds at all (we shouldn't force Nix users to use stack, or force Stack users to use stack --nix). Essentially, users will continue to use whatever they currently use, so it is not intrusive at all.

However, Nix users will be able to do the following:

# List apps
[code]
# Build (with Nix)
[code]

# Build and Run an app (ticker for e

[2021-08-19 17:30] smunix commented on #6
@gvolpe , I have made a PR addressing this, see #13.

[2021-08-19 20:17] smunix opened #14 "memory leak with Ticker?"
I left Ticker (in the example) running for about 1 hour, it generated about 27GiB of RSS, with 32GiB of swap space depleted. This is on Linux. Will investigate later

[2021-08-19 20:24] fjvallarino commented on #12
@smunix I'm testing your PR, but I won't be able to finish validating it today. My VM ran out of space while running Nix and, after expanding the assigned hard disk, it won't start again, so I'll have to rebuild it.

Curious: how is the maintenance process for this? Since this library was released recently, there will be bug fixes and improvements in the near future.

Thanks!

[2021-08-19 20:41] fjvallarino commented on #14
@smunix I can reproduce the issue. I'll investigate it.

[2021-08-19 21:02] smunix commented on #12
I do work on NixOs (for Linux) essentially (and use Nix on MacOSX also), so it is pretty straightforward for me. Whenever I make changes, I simply run `nix build` or `nix run .#tutorial`.

I could have used a VM as well, but the odds for breaking my setup with Nix are close to zero, so I don't need to start VMs. I just use my host station.

With Nix, you can write an expression that will automate

[2021-08-19 21:04] smunix commented on #14
I will look to automate the process of setting up a VM, as you suggested, so we don't have to blow our host stations when these issues occur too.

[2021-08-19 22:16] fjvallarino commented on #12
Nice! I have to take a deeper look at Nix.

In my previous comment, I wanted to ask about the `flakes.nix` file (I assume the lock file is generated automatically from the nix file). Is there a way to automatically update `flakes.nix`, or should I manually input the hash of the corresponding Monomer commit when a new version is released?

[2021-08-20 07:46] smunix commented on #12
I'm planning on automating this as well; but it needs nanovg-hs to be "flakesified" (See cocreature/nanovg-hs#15). After cocreature/nanovg-hs#15 is merged, all you'd have to do is `nix flake update --commit-lock-file` to pick up any new changes (yes, the lock file is auto-generated).

The other option I tried was to link `flakes.nix` to the `nanovg-0.8.0.0` on hackage, but it's not Nix friendly ap

[2021-08-21 04:52] smunix commented on #12
@fjvallarino I have now added a command to start a VM (with an X11 windowing system) on which all the executables from monomer are pre-installed. It uses QEmu for Linux (I'm not sure it would work on macosx or Windows) and you can take a glimpse at it by running the following:

[code]
Log in the VM with the following:
- user: monomer
- password: monomer

![vm-starting](https://user-images.githubus

[2021-08-21 05:24] smunix commented on #14
I added the VM with #13 and I can see the Linux OOM eventually kills ticker (for taking too much memory) after about 40sec. So this is fairly reproducible and the VM can be used to test the fix.

![vm-oom-killed-ticker](https://user-images.githubusercontent.com/540621/130311489-ffbbd084-4c2a-408c-a340-02c80cfb007d.png)

[2021-08-21 12:35] fjvallarino commented on #14
@smunix the issue is something broader in the library, not just limited to the ticker example. It's a typical space leak, which I expected to have, although not with such a bad impact.

I've been testing a few things, mostly adding Strict/StrictData pragma in several modules. I could stop the space leak, but it still requires users to add a BangPattern in one argument of buildUI. My next steps are

[2021-08-21 14:32] fjvallarino commented on #14
Just in case, I pushed the tests I've been making to a [development branch](https://github.com/fjvallarino/monomer/tree/fix/performance). I will push new changes as soon as I make further progress.

[2021-08-22 04:17] fjvallarino commented on #12
@smunix this is really nice! I tried the latest changes from your PR, and I could run the examples without any issues.  Thanks!

[2021-08-22 09:37] smunix commented on #12
fixed by #13

[2021-08-22 09:37] #12 closed

[2021-08-22 14:27] fjvallarino commented on #10
@dpwiz I'll close this issue for the time being. If you have any other questions or issues, don't hesitate to re-open it or create a new one. Thanks!

[2021-08-22 14:27] #10 closed

[2021-08-22 18:23] fjvallarino commented on #7
@hasufell sorry for the delay; PR https://github.com/fjvallarino/monomer/pull/8 is merged now.

I think the issue can be closed now. Don't hesitate to re-open it, or create a new one, if you feel something Is missing.

Thanks!

[2021-08-22 18:23] #7 closed

[2021-08-22 19:18] fjvallarino commented on #1
I just pushed to GitHub (not Hackage) updated versions of the library and `monomer-starter`, pointing to the Stackage lts-18.7 version that includes GHC 8.10.6 (which, in turn, has improved M1 support).

I'm not sure if Stack supports M1 currently, but both projects now are buildable with cabal using `cabal v2-build` after the release of nanovg-0.8.0.0 to Hackage (and the addition of the correspon

[2021-08-22 20:46] simonmichael commented on #1
Nice, but I can't report any improvement on M1 yet. Maybe I didn't do it right, or maybe it's just a case of wait for the native code generator in 9.2.
[code]

[2021-08-23 01:34] fjvallarino commented on #1
That's bad. I guess we'll have to wait a bit more for the native code generator, as you mention. Thanks!

[2021-08-23 07:03] juhp commented on #1
Ya or ghc-8.10.7...

[2021-08-25 05:15] JD95 opened #17 "Missing 'freetype2' for windows build"
nanovg complained about missing freetype2, but fixed with
[code]
Not sure if I was missing something or the instructions on the readme where incomplete

[2021-08-28 14:38] smunix opened #18 "test failures on macosx (on Github actions macos-latest only)"
These tests passed on Linux build with Github actions, but fail when [run on macosx](https://github.com/smunix/monomer/suites/3620250509/artifacts/87535321):

[code]

[2021-08-28 14:54] smunix commented on #1
can you try with nix ? The following command builds fine with 8.10.6 on macos 10.15 (I haven't tried with M1 though)
`

`

[2021-08-28 19:48] fjvallarino commented on #14
@smunix I've been testing a few things, mainly adding strictness where it made sense (with help of the profiler).

The biggest issue of memory consumption is solved, although I'll keep looking for further improvements on minor leaks I detected and could not yet fix. If you have a chance to validate, please let me know if the situation also improved for you! I plan on releasing a new version today/

[2021-08-28 19:50] fjvallarino commented on #18
@smunix interesting. I work mainly on macOS, and all the tests pass on my machine. I'll take a look, although I wonder if this is related to the hardware where the tests are being run.

[2021-08-28 22:45] smunix commented on #14
Terrific! Resident memory is stable and the VM has been running smoothly.The issue is fixed indeed.

[2021-08-29 18:52] smunix commented on #18
@fjvallarino Right! It passes on my macOS laptop too, but fails when run on github actions provided macos-latest platform.

[2021-08-31 02:52] fjvallarino commented on #17
@JD95 I hadn't realized the flag was missing in the `monomer-starter` project, which caused the issue you reported. That project has now been fixed.

After an upgrade to Stackage's latest LTS, the Windows build command is now the same as in the other platforms. The Setup docs have been updated to reflect this. If you pull the latest version and build again, it should work fine.

In case you want t

[2021-09-04 22:20] fjvallarino commented on #17
@JD95 I'll close this issue for the time being. If you find any problems or have other questions, don't hesitate to re-open it or create a new one. Thanks!

[2021-09-04 22:20] #17 closed

[2021-09-08 02:58] natsukagami commented on #1
I can successfully compile with x86-64 Homebrew's llvm, sdl2 and glew packages on M1.

[2021-09-10 02:36] fjvallarino commented on #1
@natsukagami nice! I think this is a great solution until 9.2 is released with the native code generator; I'll add this to the Setup page.

I will keep the issue open until 9.2, which hopefully will make the process more straightforward.

Thanks!

[2021-09-10 02:51] juhp commented on #1
ghc-8.10.7 (lts-18.9) doesn't help enough, right?

[2021-09-10 02:56] fjvallarino commented on #1
@juhp I'm not sure since I don't have an M1 to test. @simonmichael reported 8.10.6 did not work for him, and I don't expect differences between those versions.

[2021-09-14 21:27] simonmichael commented on #1
Just confirming that

- no, ghc-8.10.7 doesn't make a difference.
- I could not reproduce @natsukagami's success from those instructions.

[2021-09-15 17:25] natsukagami commented on #1
Wanted to mention that you should *not* have the equivalent LDFLAGS provided by the aarch64 LLVM inside the x86-64 shell.
I am not sure how the MacOS linker works, but if it finds the aarch64 dylib first it will just fail instead of keep looking for the x86-64 dylib.

[2021-09-16 09:14] dpwiz commented on #10
BTW, I've added most of the DrawList methods to [dear-imgui](https://github.com/haskell-game/dear-imgui.hs) bindings.

There are some event/input related functions I need to investigate, they might provide that cross-framework platform.

[2021-09-17 14:47] edmeme opened #24 "Widget for direct backend use"
I'm looking for a way of rendering part of the GUI using OpenGL, e.g; to have a 3D preview of a model embedded in a ui panel.

Perhaps a solution that is not very intrusive is to render to texture (Ideally from a shared context) and display it in Monomer.
A widget encapsulating this behavior would be ideal.

[2021-09-17 21:13] fjvallarino commented on #24
Hi @edmeme!

It is possible to make OpenGL-based widgets without rendering them to a texture. The render function of Widget runs in IO instead of a restricted monad; this allows calling any OpenGL function you need. If other `Renderer` instances are added in the future (for Vulkan or Metal), this escape hatch will allow making low-level rendering with them too. The objective of choosing IO instead

[2021-09-17 21:20] fjvallarino commented on #10
@dpwiz nice! I'll take a look. My main concern is I'm relying on quite a few NanoVG features:

- Painting with a texture inside an arbitrary path (can be seen when setting rounded corners on an image widget)
- General curves (bezier, quadratic, etc), which are rendered pretty nicely.

I have to check how hard it is to get the same out of ImGUI's DrawList.

[2021-09-17 21:48] fjvallarino commented on #14
@smunix I'll close this issue since I think at this point the main problem is solved. If you feel something is missing, please re-open or create a new one.

I'll keep investigating memory usage. I detected in some cases an increase of reported OS resident size, which does not match the maximum resident size reported by GHC's profiler (OS' resident size is much higher than GHC's). This might be rel

[2021-09-17 21:48] #14 closed

[2021-09-18 13:49] dpwiz commented on #10
`DrawList`s have both textures with rounded corners and straight/smooth paths.

[2021-09-24 19:48] fjvallarino commented on #24
Hi @edmeme!

I just released version 1.1.0.0, which includes better support for initializing OpenGL resources. I also added a new example that explains [how to integrate OpenGL](https://github.com/fjvallarino/monomer/blob/main/docs/examples/05-opengl.md) into a Monomer application. You can find the source code of the example [here](https://github.com/fjvallarino/monomer/tree/main/examples/opengl).

[2021-09-27 15:47] edmeme commented on #24
Thank you very much, it looks great :)
I like a lot the concept and design of Monomer so far, thanks for writing it

[2021-09-27 16:12] edmeme opened #25 "Horizontal and vertical scroll bars are inverted"
In my setup (linux, X-org) when I scroll with two fingers, the scroll bar moves in the same direction as my fingers. In windows and mac/os it is often the other way around.

However, in monomer apps it seems like the Horizontal scroll bar moves in the opposite direction. I noticed this behavior in the OpenGL example app. [I checked the code and sure enough the sign is flipped between the stepX and

[2021-09-27 16:16] edmeme commented on #25
butts are great

[2021-09-27 17:17] fjvallarino commented on #25
The way it behaves currently is because of platform-related things (specifically, macOS). SDL2, or at least the Haskell bindings, reports the same device id for the trackpad and external mouse. The problem arises because the expected positive/negative direction is inverted on these devices. Since it was not possible to detect the event's origin, one had to be given priority (I chose mouse because

[2021-09-28 20:37] edmeme commented on #25
From what I read on the internet, this issue popped up when SDL started to account for system settings. It is a bit confusing to me that horizontal and vertical behavior differ.

This is the behavior in linux; mouse buttons are assigned a number, scroll events are a button too. Scroll up is 4, scroll down is 5, scroll left is 6 and scroll right is 7 [1]. I verified that my touchpad produces the ri

[2021-09-28 22:08] edmeme commented on #24
Done!

[2021-09-28 22:08] #24 closed

[2021-09-29 00:55] fjvallarino commented on #25
Just to be sure: the issue only happens with horizontal scrolling? If that's the case, I can handle it conditionally for macOS (I can also test on Windows and adapt to it if there are differences). More specifically, for Linux I will remove the sign flipping for the horizontal case.

I'm thinking having configuration options for inverting horizontal/vertical scrolling may be a good idea.

[2021-09-29 07:01] edmeme commented on #25
Yes, this only affects horizontal scrolling.

Before doing what you suggest, you check the settings for your mouse in your mac.
Apple introduced a feature in Yosemite they call "natural scrolling". Again, I don't own a mac,  but I can read on the internet that this flips tge direction of the vertical scroll. Also this setting is per-device: you can set it in your mouse and trackpad independently.

[2021-09-30 13:12] fjvallarino commented on #25
@edmeme I'm testing a few things.

Scrolling in macOS, as you mention, is reversed because of Natural Scrolling. For the sake of keeping an explanation in this issue for future readers: The idea of Natural Scrolling is the content should move in the same direction as if you dragged a sheet of paper. On the other hand, Standard Scrolling should move the content as if you dragged the scroll bar itse

[2021-10-02 22:29] fjvallarino commented on #25
I tested both on macOS and Windows, and I pushed a new [branch](https://github.com/fjvallarino/monomer/compare/fix/scroll-wheel-handling?expand=1).

Before this change, the scroll widget forced the direction based on the `WheelDirection` argument. This was a misunderstanding on my part, since the x/y offsets provided in the event already have that information included. With this change scrolling w

[2021-10-02 22:38] fjvallarino commented on #25
Just for reference, at least on Windows 10, the trackpad movement by default works as in macOS: sliding down moves the content up, sliding right moves the content left (the paper analogy mentioned previously). In both cases, this setting can be changed to follow the direction of the scrollbars.

[2021-10-03 11:11] edmeme commented on #25
I tested your branch, and I fear it wont do for Linux.
`      stepX = -wheelRate * wx
      stepY = wheelRate * wy
`
There a minus on the X direction but not Y, so horizontal scroll behaves opposite to the rest of my apps, vertical scroll works as expected.
Removing the minus makes both axis move in the same way, which also feels quite natural, minus sign -> inverted axis.
Notice I am not complain

[2021-10-03 20:14] fjvallarino commented on #25
I added logic in a low-level layer to standardize the wheel movement (horizontal sign is negated for macOS/Windows, left as-is for Linux and others), so widgets consuming this event do not have to replicate this conversion. I tested on my Ubuntu VM, and it looks correct now (it still works fine on macOS and Windows).

I also added a couple of application-level configuration options (`appInvertWhee

[2021-10-03 21:04] theoremprover opened #26 "Install on Windows does not work"
In the installation on Windows procedure (as descibed in 00-setup.md),

`stack exec -- pacman -S mingw-w64-x86_64-pkg-config`

will report the following errors:

error: mingw32: key "FA11531AA0AA7F57" is unknown
error: key "FA11531AA0AA7F57" could not be looked up remotely
error: mingw64: key "FA11531AA0AA7F57" is unknown
error: key "FA11531AA0AA7F57" could not be looked up remotely
error: msys: k

[2021-10-04 00:23] fjvallarino commented on #26
I had that issue, and it was caused by an old MinGW version installed by Stack.

At some point, the MinGW project changed their certificates; supposedly, it is possible to upgrade them manually, but it didn't work for me (and it was a pretty complex procedure).

Stack installs files in two places:

- C:\sr
- %LOCALAPPDATA%\Programs\stack

The second location is the one that contains MinGW. If I re

[2021-10-04 14:59] edmeme commented on #25
I tested the branch, works beautifully! Thans for spending time on this :)

[2021-10-04 23:13] fjvallarino commented on #25
Awesome! I'll release a new version to Hackage in the next few days (I also want to include an unrelated bug fix).

I'll close the issue for the time being. If you feel something is missing or want to add something else, please reopen it or create a new one.

Thanks for your help!

[2021-10-04 23:13] #25 closed

[2021-10-05 11:28] toku-sa-n opened #28 "Could you add this package to Stackage?"
By adding a package to Stackage, we can use [the online Hoogle](https://hoogle.haskell.org/) to search functions. [Here's the instructions](https://github.com/commercialhaskell/stackage/blob/master/MAINTAINERS.md#adding-a-package).

[2021-10-05 16:16] fjvallarino commented on #28
Hi @toku-sa-n! Adding the library to Stackage is one of the following things I will do, but I want to release a couple of bug fixes first.

I will keep you posted.

[2021-10-05 18:22] theoremprover commented on #26
Worked, I had to delete %LOCALAPPDATA%\Programs\stack only,
then "stack setup" and all the "stack exec -- pacman" lines given in the setup tutorial.
Thanks fjvallarino! :-)

[2021-10-05 18:23] #26 closed

[2021-10-05 19:15] fjvallarino commented on #26
Nice!

I'll add a note to the Setup page. As you mention, it may be helpful to other people who face the same issue. Thanks!

[2021-10-14 08:12] knutanderss opened #30 "Affects other windows on Linux (KDE)"
First of all, thank you for this awesome library! I have a few Haskell projects that are missing GUIs, looking forward to give Monomer a try!

One weird issue though: I ran the first tutorial file (the one with click count), and the GUI seems to affect the other windows on my desktop. They are blinking on startup, and my Firefox tab goes completely blank. Any ideas what might cause this?

[2021-10-20 10:26] knutanderss commented on #30
Thank you, that worked perfectly!

[2021-10-20 15:20] chreekat opened #31 "Best place to go for new-user-type questions?"
Hiya,

I'm enjoying the library and making baby steps in writing my own gui app for the first time ever.

I think I'm making some basic user mistakes -- they're not bugs, I just don't know what I'm doing. Is there any sort of community space for library users to congregate and discuss such things?

[2021-10-21 13:06] fjvallarino commented on #31
Hi @chreekat! I hadn't thought about that. I'm looking into it, and Gitter seems to be a good solution (I noticed Streamly uses it).

Meanwhile, you can ask here! I want to create some sort of _"Recipes"_ section in the docs, explaining how to do common things (with associated code snippets), and this may be a good way to kickstart it.

[2021-11-01 02:49] juhp commented on #31
You could also add Discussions tab here in the GitHub project - of course sometimes chat is easier. :-)

[2021-11-02 16:13] fjvallarino commented on #31
@juhp thanks! I'll take a look into it.

I personally prefer using issues rather than chat (I have not yet looked into Discussions) since it gives me more time to think and come up with an answer that may be useful to future readers. Having said that, maybe having a chat channel is still a good idea if other people are interested in chiming in.

[2021-11-02 17:33] chreekat commented on #31
Haha cool! That's certainly one way to solve the "new-user type questions": make sure they don't need to be asked in the first place. ;) Nice work!

[2021-11-03 20:46] fjvallarino commented on #31
@chreekat I'll close the issue for the time being. If you feel something is missing, please re-open it or create a new one. Thanks!

[2021-11-03 20:46] #31 closed

[2021-11-03 20:48] fjvallarino commented on #28
@toku-sa-n this is technically done since the project has been added to Stackage (see this [PR](https://github.com/commercialhaskell/stackage/pull/6260)), but there has not been a Stackage release in the last few days. Once that happens, it will be possible to search on Hoogle.

[2021-11-08 16:50] fjvallarino commented on #28
A new Stackage version was released, including the latest version of monomer: https://www.stackage.org/nightly-2021-11-06/package/monomer-1.2.0.0

Hoogle has not yet included the package, and I guess it will remain that way until the current set of nightlies turns into an LTS release.

I'll close the issue for now. If you feel something is missing, please re-open it or create a new one. Thanks!

[2021-11-08 16:50] #28 closed

[2021-11-09 00:13] toku-sa-n commented on #28
Thank you!

[2021-11-16 05:34] toku-sa-n opened #41 "An image generated by `imageMem` doesn't respond any events"
I want to make an application that shows a part of an image file and move the part with arrow keys. The repository is [here](https://github.com/toku-sa-n/monomer_playground/tree/8a68788793db7afd2db62dabaf203bc2e98378bc). (Note that this repository doesn't contain a font file. Please copy the one from [the monomer-starter](https://github.com/fjvallarino/monomer-starter) repository.)

When I press t

[2021-11-17 02:14] toku-sa-n commented on #41
I figured out what happened here. I didn't change the logical name of the image, so this branch
https://github.com/fjvallarino/monomer/blob/332b35e74331455431af93146dee31f8169269af/src/Monomer/Widgets/Singles/Image.hs#L326-L329
always goes to `oldSource == imgSource`.
If I change the image name on every event, the image is updated. ([link](https://github.com/toku-sa-n/monomer_playground/tree/d6527

[2021-11-17 16:17] agentultra opened #42 "Consider creating a separate package for examples"
Depending on `monomer` also pulls in `websocket`, `wreq`, etc which then depends on the http stack which... a simple application that doesn't use any of those libraries doesn't need as a transitive dependency.

Could we move those dependencies for the examples to a package like `monomer-examples` or some such?

[2021-11-17 16:58] agentultra commented on #42
Oh I see some of the widgets use it. Nevermind.

[2021-11-17 20:47] fjvallarino commented on #41
Hi! Looks good! The only issue I see is this method would be recreating the image every time the user presses the arrow keys. I tested a couple of alternatives:

- Using a scroll widget and its `ScrollTo` event. I think this is the ideal solution, but there seems to be a bug with `ScrollTo` that I will look into as soon as I get some time.
- Using the padding property to offset the image. This is

[2021-11-17 20:49] fjvallarino commented on #42
Hi! I think your idea makes sense! The `websockets` dependency and others are only used by the examples, although `wreq` is indeed used by the `image` widget.

I'll keep it in mind for the next release.

Thanks!

[2021-11-26 23:06] smunix opened #44 "accessing data files from monomer examples"
In order to make deployment a little more portable, can we use the following APIs provided by cabal?
https://cabal.readthedocs.io/en/3.4/cabal-package.html#accessing-data-files-from-package-code

Without that, running the example binaries (/my/very/path/opengl for instance) fail to find the fonts and the vertex files.

@fjvallarino let me know if you'd like me to push a PR

[2021-11-28 21:50] fjvallarino commented on #44
@smunix if possible I'd like to avoid using that API, since (as far as I understand) it forces the user to list all the resource files in `data-files`, which can be annoying (although I think adding only the base directory is an option too). The idea is that the resource files are relative to where the application is executed, which works well on Windows, Linux, and macOS.

I wonder if this issue

[2021-11-29 11:26] smunix commented on #44
Nix uses cabal to deploy files indeed; so it won't touch these files in asset unless specified in cabal. I'm afraid setting the CWD won't help after the package has been deployed. How do you deploy monomer apps on other Linux flavors or macOS? I could try  to replicate with Nix.

I guess the alternative is to copy these files manually wherever the binary located, for the following to work.
https:/

[2021-11-29 20:36] fjvallarino commented on #44
At least on macOS, you just need to have the `assets` folder inside the current working directory. For example, you can create a new directory `nested` inside the `monomer-starter` (or any other) project's folder, cd into `nested` and try running:

`../.stack-work/dist/x86_64-osx/Cabal-3.2.1.0/build/app/app`.

Since the program can't find the assets, it will show errors regarding missing fonts. If

[2021-12-14 17:32] DavSanchez commented on #1
Hi guys,

Just to let you know, I have been able to compile and run the starter project using GHC 8.10.7 on an M1. I used Cabal for building, had LLVM installed with Homebrew and prepended this to PATH: `$(brew --prefix)/opt/llvm/bin`, I don't think I did anything else, but it runs without issues. I'll hack some more for a toy project and will let you know if I find any issue.

This is the output

[2021-12-15 00:55] fjvallarino commented on #1
@DavSanchez hi! That's great to hear! Does it work on the M1 architecture or is it using Rosetta?

[2021-12-15 13:34] DavSanchez commented on #1
Yes, it's M1 native. The Monomer starter app (called only `App`) shows in activity monitor as being of Kind `Apple` (if using Rosetta it would say `Intel`)

![image](https://user-images.githubusercontent.com/11422515/146196028-c7b4960f-be24-4cd9-b5e9-ef3a8913b9ca.png)

My GHC 8.10.7 was installed using `ghcup`, which downloaded from `https://downloads.haskell.org/~ghc/8.10.7/ghc-8.10.7-aarch64-app

[2021-12-17 11:03] fjvallarino commented on #1
Nice! That's awesome. I'll keep the issue open for a bit more just in case other users want to share their experience.

Thanks for reporting!

[2021-12-18 10:08] DrearyLisper commented on #1
Hey @DavSanchez. I'm trying to reproduce your setup but things are not going smoothly as in your case.
I'm trying to build monomer-starter app with cabal as you did it, but my compilation gets stuck every time on OpenGLRaw-3.3.4.1

For some reason It randomly reports that it cannot execute opt (although it's available and used to compile previous files).
Do you know what can be the case here?

<im

[2021-12-18 12:46] DavSanchez commented on #1
Hi @DrearyLisper , I'm not sure and I'm currently away from home, but I'll try to check later.

For reference, this is the setup that is currently working for me both in Intel and M1: https://github.com/DavSanchez/hematria Note the `cabal.project` file at the root which references the GUI package and places a constraint on `nanovg` and the cabal file inside `hematria-gui` which defines the executa

[2021-12-18 22:31] DrearyLisper commented on #1
Hey @DavSanchez. Could you share which version of `llvm` you use? I currently have `llvm@12` installed.

[2021-12-18 23:54] simonmichael commented on #1
Update from me, with a different toolchain from before (now it's all arm binaries installed by ghcup). `stack build` (using ghc 8.10.7) completed successfully, with just this final warning:
[code]
`stack run app` ran the counter app successfully.  🎉

[2021-12-19 00:07] DavSanchez commented on #1
@DrearyLisper latest version, I think it's 13.

@simonmichael great to hear it's working with `stack` as well! I had switched to `cabal` because apparently `stack` was not using GHC for `aarch64` yet (for me it was always downloading for `x86-64`). I'll check again. Could you add `monomer` as a dependency without issues? I see it's not on Stackage LTS 18.18.

[2021-12-19 03:52] simonmichael commented on #1
@DavSanchez exactly, the different binaries cause lots of trouble, arm mac owners beware. More notes about it [on reddit](https://www.reddit.com/r/haskell/comments/rjm0x8/help_wanted_for_llvm_config_for_haskell_on_mac/).

[2021-12-21 11:43] Dretch opened #46 "Possible numericField bug (value lost when type of number changes)"
Hello, this library has a really nice design and docs, so thanks!

I have found what might be a bug (possibly I just misunderstand how things should be working, though).

I have a `numericFieldV` that stays in the same position in the widget tree, but sometimes contains an `Integer` value and other times contains a `Float`. The value is preserved as much as possible (using `truncate`/`fromIntegral

[2021-12-21 21:33] fjvallarino commented on #46
Hi @Dretch!

I honestly hadn't considered this use case, and the reason it fails is because the internal state types do not match. When the user model changes, each widget is merged with the corresponding widget in the previous version of the tree. The old version of each widget is chosen based on position or `nodeKey`, also validating that their `WidgetType` matches (otherwise, the internal state

[2021-12-21 21:43] fjvallarino commented on #18
@smunix I'm going to close this issue for the time being. I don't have a solution, and the tests work fine on a real macOS machine.

If you have any ideas on how to fix it, please let me know and I'll give it a try. Thanks!

[2021-12-21 21:43] #18 closed

[2021-12-22 11:06] Dretch commented on #46
Thanks for the explanation and the fix @fjvallarino (that works great) :1st_place_medal:

[2021-12-22 11:06] #46 closed

[2021-12-23 15:58] Dretch opened #50 "UI not updating immediately when the button that is clicked on is removed (bug?)"
Hello!

I think this is probably a bug -- it is certainly unexpected:
- I have a widget that contains a button.
- When the button is clicked, the state is changed such that the entire widget tree is replaced by a different widget tree.
- When this happens, the screen goes blank instead of showing the new widget immediately -- **this is the bug!**
- However, when the mouse is moved a little, then t

[2021-12-27 03:29] fjvallarino commented on #41
Hi! Sorry for the delay. I added an `onChange` event to the `scroll` widget that provides information about the position of the scrollbars; this information allows for better control to handle your use case. The idea is to rely on the existing widgets, without having to manually load images. You can still create an image from a memory block if you're doing generative art but, once the `image` widg

[2021-12-27 16:52] gnull opened #52 "How to make monomer default to Wayland instead of X11?"
I've just built the [Basics Tutorial](https://github.com/fjvallarino/monomer/blob/main/examples/tutorial/Tutorial01_Basics.hs) using stack and ran in on my Arch, which has both Wayland and X11 (through XWayland) available. And it used XWayland by default (I checked using `xeyes`). How do I ensure that my programs use Wayland for drawing windows whenever it's available?

Ivan

[2021-12-27 19:21] fjvallarino commented on #52
Hi @gnull! Monomer uses SDL2 for setting up windows and OpenGL contexts. Checking on SDL2's repository, it seems they are working on using Wayland when available, but there are some issues and it's why it's still not the default.

- Main discussion:
  - https://github.com/libsdl-org/SDL/issues/2710
- Not yet merged patch to default to Wayland
  - https://github.com/libsdl-org/SDL/pull/4306

This a

[2021-12-27 22:16] fjvallarino commented on #50
This is indeed a bug! It seems I never tested replacing the root element for a widget of a different type. All the applications and examples I created have a `Container` as the root, and this bug in `Composite` remained hidden. Just in case you want to test, you can replace:

[code]

with

[code]

and it will work as expected since it uses the `box` container as the root.

---

I pushed a PR fixin

[2021-12-28 00:17] gnull commented on #52
Ah, I see. Thank you for your reply!

I already tried the `SDL_VIDEODRIVER=wayland` and it made the program crash (which is normal I guess, since SDL2's support for Wayland is not complete yet).

I'll close the issue since it's in the hands of SDL2 devs now.

[2021-12-28 00:17] #52 closed

[2021-12-28 22:36] fjvallarino commented on #50
I'll close the issue for the time being; this changeset will be included in the next release.

Please re-open or create a new one if needed!

[2021-12-28 22:36] #50 closed

[2021-12-31 12:59] Dretch opened #54 "Edge case where label text is not displayed"
Hello,

I have found an edge case where the text on a label does not get drawn.

The UI code looks like this:
[code]

Reducing `paddingH` to 3 makes the "a" show up. Changing "a" to "b" also makes the text show up.

Example with text not showing:
![Screenshot at 2021-12-31 12-49-43](https://user-images.githubusercontent.com/1428731/147824511-edbf319c-0b43-4d94-bd7c-ba20090499e7.png)

Example with

[2021-12-31 13:12] fjvallarino commented on #54
Hi! No problems at all about reporting bugs! It's super helpful for me, thanks!

I will take a look as soon as possible, although I may not be able to do it today. I just wanted to suggest you take a look at `Grid.hs` if you are creating a custom layout widget. It's the most basic layout provided by the library, since it assigns the same space vertically/horizontally to each widget, and it may giv

[2021-12-31 13:22] Dretch commented on #54
Thanks :) (there is no rush though!)

Indeed, I have been looking at these and it has been useful. :+1:

[2022-01-02 00:53] 1ace commented on #52
@gnull please have a look through https://github.com/libsdl-org/SDL/issues to see if someone's already posted the crash you are seeing, and create a new issue if not :slightly_smiling_face:

People like you trying wayland before it's the default is exactly what is needed to fix the issues so that it can become the default, but for that to work any issue encountered needs to be reported back :blush

[2022-01-02 02:56] toku-sa-n commented on #41
Happy new year, and sorry for the delay. I confirmed that your code works. Thank you.

Yes, I believe this satisfies my use case. (In fact, my original purpose was to make a roguelike game, and I was trying to implement the smooth map scrolling when the player moves.)

[2022-01-07 07:15] Abastro opened #57 "How to create dialog window?"
Hello, I wonder how I could create a dialog in separate window with monomer. How would I go with this?
Also I wonder if there is a way to have optional UI element which pops up only in certain circumstances without having to record the locql state in the monolithic state, for separation of concerns.
Thanks in advance!

[2022-01-07 12:53] fjvallarino commented on #57
Hi @Abastro!

Currently, there is no way of having multiple OS windows, but you can have dialogs in the style used in web pages or mobile applications, which show up on top of the rest of the content. You can see an example [here](https://github.com/fjvallarino/monomer/blob/main/docs/examples/02-books.md). When the dialog is open, the content below it does not receive events, effectively acting as

[2022-01-07 14:49] Abastro commented on #57
Hi fjvallarino! Thank you for great answer. Will multiple OS windows be supported in the future versions?
I wonder how to give a custom local state for custom widgets. When I last checked the tutorial, it does not seem to talk much about the states..

[2022-01-08 11:08] Dretch commented on #57
@Abastro

One way to have custom widget state is to use the [compositeD_](
https://hackage.haskell.org/package/monomer-1.2.0.0/docs/Monomer-Widgets-Composite.html#v:compositeD_) constructor passing `WidgetValue a` as the model argument. This allows the model (i.e. internal state) of the custom widget to be separate to the model of the parent widget.

[2022-01-08 16:36] fjvallarino commented on #57
As @Dretch mentions, you can create a widget-local model by using `compositeD_` and `WidgetValue`. If you also need to retrieve information from the parent model, you can use [customModelBuilder](https://hackage.haskell.org/package/monomer-1.2.0.0/docs/Monomer-Widgets-Composite.html#v:customModelBuilder). This function is called on `init` and `merge`, and it provides as arguments the parent model

[2022-01-08 23:49] Abastro commented on #57
Thank you all for kind answers, let me try. I cannot wait for ColorPopup as well!

[2022-01-08 23:49] #57 closed

[2022-01-08 23:53] Abastro opened #58 "Rationale: why not optics library?"
I see that you took lens rather than microlens for a good reason, but I wonder why you did not choose the optics library - which gives near perfect support with less dependency footprint.

[2022-01-09 02:07] fjvallarino commented on #58
Hi! The main reason is that I started this project, in one form or another, in mid-2018 (it was originally an attempt at creating a DAW with a custom UI, which was abandoned for months and resumed several times). At that time I only knew about Lens and MicroLens, and I think Optics was released in late 2019.

I have not had a strong reason for replacing Lens with Optics. As far as I understand, it

[2022-01-09 02:58] Abastro commented on #58
Oh, I did not know this project had such a long history! Could you include it in the rationale as well? I understand that it is ofc not feasible to migrate this project to optics.

[2022-01-09 21:41] Dretch opened #59 "Feature Request: some way to change spacing on LabeledCheckbox"
Hello,

I have a checkbox in my app that looks like this:
![Screenshot at 2022-01-09 21-35-39](https://user-images.githubusercontent.com/1428731/148701921-6fac514b-6413-419b-9482-8908dcc342a6.png)

However, I would like it to look like this (with less space between the icon and the label, to match the spacing in rest of the UI):
![Screenshot at 2022-01-09 21-34-46](https://user-images.githubuserco

[2022-01-10 16:56] fjvallarino commented on #59
That would be a great feature!

I think you have two options:

- Add a configuration option to `LabeledCheckbox` and modify `LabeledItem` to set the `spacer` to the provided width.

Or:

- Add a configuration option to `hstack`/`vstack` to handle spacing between components. In this case, the `spacer` in `LabeledItem` could be removed.

The second option is nice since it would be useful in many oth

[2022-01-10 23:22] fjvallarino commented on #58
Added! https://github.com/fjvallarino/monomer/blob/main/docs/design-decisions.md#why-lens-and-not-optics

[2022-01-10 23:28] Abastro commented on #58
Thank you!!!!!!!!!

[2022-01-10 23:28] #58 closed

[2022-01-14 06:25] Kyarigwo commented on #54
I have been myself trying to track down what I think might be the same edge case, which, as you might expect, seems to be due to floating point math.  My own test code is:
[code]

Which gives an output of:

![Screenshot from 2022-01-14 16-00-08](https://user-images.githubusercontent.com/10115212/149459299-df32ef3f-ad2d-4bb2-89fc-2e7850a3c743.png)

The issue appears to be that the function `getText

[2022-01-14 14:34] fjvallarino commented on #54
Doing a bit of debugging, I added a `traceShow` call to `getTextLines`, and the results I get are a bit different:

[code]

I assume the `62.666666666666664` you're getting corresponds to the `62.5` I got, but I wonder what is causing the difference...

[2022-01-14 16:26] fjvallarino commented on #54
So far, I have not been able to reproduce the issue, but it's clear that it happens. Unfortunately, this means I can't create unit tests for future scenarios. I'm wondering if the problem is CPU-dependent, OS-dependent, or some other thing.

Just in case, I created a [branch](https://github.com/fjvallarino/monomer/compare/fix/text-fitting-rounding?expand=1) that includes a simple check that hopefu

[2022-01-14 16:47] simmihugs commented on #31
### Very tiny scroll thumb

I hope its okay, that I ask here ...

I have a problem with `scroll` `scroll_` etc.

In my application I create a `vstack` with a list of Widgets I create similar to the todo or books example. But my list, based on a xml file I parse is sometimes very large, like 2000 - 3000 items. And sometimes the xml file is shorter hence only 100 - 200 items.

in the case of the ver

[2022-01-14 17:01] simmihugs opened #61 "Config option for setting a minimum thumb size"
I have a problem with scroll scroll_ etc.

In my application I create a vstack with a list of Widgets I create similar to the todo or books example. But my list, based on a xml file I parse is sometimes very large, like 2000 - 3000 items. And sometimes the xml file is shorter hence only 100 - 200 items.

in the case of the very large lists, the thum in the scroll bar becomes very tiny.

![2022-01-

[2022-01-14 17:43] simmihugs commented on #31
I created `Config option for setting a minimum thumb size #61 `

[2022-01-14 19:41] fjvallarino commented on #61
Hi @simmihugs!

This is an issue on the scroll widget; there is currently no config option for setting a minimum thumb size, and the scroll widget does not have a minimum size for the thumb (but it should).

I'll keep you posted!

[2022-01-14 19:55] fjvallarino commented on #41
I'll close this issue for the time being. I'll look into adding a native keyboard-based scrolling solution in version 1.4.

If you have any other questions, please re-open the issue or create a new one. Thanks!

[2022-01-14 19:55] #41 closed

[2022-01-14 21:53] Litoprobka opened #63 "Bug: onBtnPressed ignores middle mouse button clicks"
A `box` with `onBtnPressed` / `onBtnReleased` completely ignores clicks on the middle mouse button.

Here's a small isolated example.
<details>
<summary> example </summary>

[code]
</details>

Tested on:

- Void Linux PC (mouse)
- Void Linux laptop (touchpad)
-  Windows 10 laptop (mouse)

with Monomer 1.2.0.0

[2022-01-14 22:55] fjvallarino commented on #63
Hi @Litoprobka!

I had missed converting middle button actions from SDL2 events to Monomer events. I pushed a new branch (the PR is linked to this issue). To use it, you will need to update your `stack.yaml`:

[code]

Thanks for reporting this!

[2022-01-14 23:04] Litoprobka commented on #63
Thank you for replying so fast!

[2022-01-14 23:23] #63 closed

[2022-01-14 23:35] fjvallarino commented on #63
Since I merged to main and deleted the branch, the commit hash mentioned previously does not exist anymore. Below is the new one from main (which will never be removed). This change will be included in 1.3, which ideally will be released in 1-2 weeks.

[code]

[2022-01-14 23:59] Litoprobka commented on #54
The fix works for me.

(original bug happens, CPU used is Ryzen 5600g, if that's helpful)

[2022-01-15 00:25] Kyarigwo commented on #54
The fix works for me as well.

On the main branch the issue occurs even for the Todo example for me, so I expected it to be specific to my machine setup.

My graphics card is a Nvidia GTX 1060, OS is Ubuntu 20.4.3, GNOME version 3.36.8, windowing system is X11.

[2022-01-15 10:49] Dretch commented on #59
Thanks @fjvallarino, I'll have a look into this (the second option, if possible).

[2022-01-17 20:54] JD95 opened #66 "SDL.pumpEvents seems to be required in mainLoop for Windows 10"
I can't say exactly what changed on my system to cause this, but my monomer projects suddenly started hanging immediately after launch. Even reverting to older commits which I know worked or cloning monomer and building the example projects had the same behavior.

I did a bit of digging and realized that SDL.pollEvents wasn't returning anything after the first frame.

The fix ended up being a call

[2022-01-17 21:19] fjvallarino commented on #66
Hi! This is interesting. I'm also leaning on this being an issue with SDL2, or maybe the bindings.

I noticed a new version of the Haskell [package](https://hackage.haskell.org/package/sdl2-2.5.3.1) was released about a week ago. If you are not using the old Stack LTS (i.e., using Cabal), maybe it's worth trying to fix the `sdl2` version to 2.5.3.0, which was released more than a year ago.

I took

[2022-01-17 21:23] fjvallarino commented on #54
@Litoprobka @Kyarigwo thanks for reporting it works for you!

I'll merge the PR to main, so it's included in the next release.

[2022-01-18 00:44] fjvallarino commented on #66
It seems you can manually download a specific version of a library from [here](http://repo.msys2.org/mingw/mingw64) and install it with:

[code]

Removing the current version can be done with:

[code]

[2022-01-18 18:25] fjvallarino commented on #66
I upgraded to SDL2 2.0.20, released eight days ago, and I'm having the same issue on macOS. I think it's related to [this PR](https://github.com/libsdl-org/SDL/pull/4794), where it's also discussed that calling SDL_PollEvent in a loop is not a good idea (which is what `pollEvents` does internally).

I'll take a look to see the recommended way of polling events and implement it.

Thanks for reporti

[2022-01-18 18:37] Dretch commented on #54
The fix works for me too.

Also, I noticed that the issue only happens when I start the app on my laptop screen. When I start the app on my external screen (higher resolution and higher pixel density) then everything bigger (as in, it uses more pixels) -- which is another issue by itself, I guess -- and the issue does not occur.

So perhaps the issue is related to HDPI-scaling, or something...

[2022-01-18 22:40] fjvallarino commented on #66
I went ahead and followed your proposed solution. I looked into implementing the idea suggested [here](https://github.com/libsdl-org/SDL/pull/4794#issuecomment-941569077), but I'm not sure it's worth it. If the need arises in the future, it can be reviewed.

This is already merged to main.

Thanks for the diagnostic and the solution!

[2022-01-22 15:29] fjvallarino commented on #54
I'm interested in the external monitor situation. Is this on Windows? There are some DPI calculations/adjustments in `Platform.hs` when the application starts, but they are not applied when the window is moved to a different screen.

If you are launching the application on the laptop's screen and then moving it to the external monitor, maybe that's the cause for the bigger item size; I have not ha

[2022-01-22 15:29] #54 closed

[2022-01-22 15:30] fjvallarino commented on #66
I'll close this issue, since the fix has already been merged to main. It will be included in the 1.3 release (to be released soon). Thanks!

[2022-01-22 15:30] #66 closed

[2022-01-23 11:28] Dretch commented on #54
This is on Ubuntu Mate 20.04. I think the problem is that this uses X11 rather than Wayland -- and `Platform.hs` says "Currently only tested on Wayland (Ubuntu 21.04)". It seems Mate is going to get Wayland support soon anyway, so maybe this issue will disappear (at least for me) ;)

[2022-01-23 21:09] fjvallarino commented on #42
I removed several dependencies that were being lightly used (replaced them with custom code) and removed the dependency on `OpenGL` since it was redundant (`OpenGLRaw` was already included, and I updated some sections to remove the additional dependency). The `OpenGL` one is a big win in terms of build times.

For the moment, I will not move the examples to a new repository. They all serve a diffe

[2022-01-23 21:09] #42 closed

[2022-01-24 09:13] Kyarigwo opened #72 "DPI calculation discussion"
Hi, I've created this item to continue discussion of the DPI issues raised in [https://github.com/fjvallarino/monomer/issues/54](https://github.com/fjvallarino/monomer/issues/54).

On my machine I have 3 monitors, two are 2560x1440 resolution and one is 1920x1080.  By default the application is opening on one of the 2560x1440 monitors, which is the primary display, however when @fjvallarino mentio

[2022-01-24 15:46] fjvallarino commented on #59
I think this issue is now complete after merging your PR. If you feel something is missing, please re-open or create a new issue. Thanks!

[2022-01-24 15:46] #59 closed

[2022-01-24 16:52] fjvallarino commented on #72
So, do you still have the disappearing font issue on that other screen?

I noticed you mentioned this a while ago. What happens if you don't include that argument? Are you including the `-threaded` flag in `package.yaml`?

[code]

[2022-01-28 10:50] Kyarigwo commented on #72
I don't get it with the fix you provided.

I do have the -threaded flag in my package.yaml file.  The error I get is:

app: SDLCallFailed {sdlExceptionCaller = "SDL.Video.OpenGL.glMakeCurrent", sdlFunction = "SDL_GL_MakeCurrent", sdlExceptionError = "Unable to make GL context current"}

I see that this is described on [https://github.com/fjvallarino/monomer/blob/main/docs/tutorials/00-setup.md](ht

[2022-01-29 18:37] Dretch commented on #72
In my case, I am running Ubuntu Mate 20.04.3, which uses X11 (Wayland is not supported).

The issue for me is that I have not configured any kind of scaling factor, but because my screens are quite large then Monomer is automatically scaling.

E.g. my laptop screen (17" LG Gram)
[code]

The code in `Platform.hs` / `getLinuxFactor` therefore computes a scaling factor of `2*2560 / 1920 = 2.666...`.

[2022-02-03 23:47] fjvallarino commented on #72
The initial scale factor handling for Linux can definitely be improved. For Windows, there is some initialization on `dpi.c`. For `macOS`, some weird handling logic is needed (mouse events are not scaled based on DPI on mac, but they are on Linux and Windows).

I think both Mac and Windows work fine in this regard. I'll review the Linux situation; maybe `SDL_GetDisplayDPI` can be used in this case

[2022-02-08 20:30] Dretch opened #77 "Feature request: allow setting the window icon"
I think it would be great if `AppConfig` allowed setting the window icon.

As far as I can see (hopefully I am wrong!), the Haskell SDL package does not currently provide any way of doing this that does not involve `unsafeCoerce` (to turn `SDL.Video.Window` into `Ptr ()`), so this would involve a feature request/PR to that project too.

If this is considered desirable, I can put together the neces

[2022-02-09 17:15] sproott opened #78 "Typed keystrokes"
Right now, keystrokes are specified using a String, which I don't think is ideal, because a lot can go wrong. For example, putting in an empty string as a keystroke gives a runtime error after pressing any key and the app crashes:

[code]

I think it would be better to add a type for defining keystrokes like this:

[code]

 That way the API would be much more typesafe and wouldn't just rely on the

[2022-02-10 12:40] fjvallarino commented on #78
Hi @sproott!

I initially tried something similar to what you proposed but chose the string version because of convenience. There were a few reasons, the main ones being:

- The notation is much more compact and easy to read.
- Since the Monomer package is usually imported unqualified, I tried to reduce the number of exported common words. For example, the names of the `nodeKey` and `styleActive`

[2022-02-13 19:12] simmihugs opened #80 "Beginner Question - Focus on TextArea"
TextArea does not allow me to type in it, unless I click with my Mouse into the Textarea.

My application has a TextField. When I set the focus to the TextField with `SetFocusOnKey "textField1"`
--> I can type in the TextField right away; As expected

My app also has a TextArea. When I set the focus to the TextArea with `SetFocusOnKey "textArea1"`
--> I cannot type in the TextArea unless I click w

[2022-02-13 19:43] fjvallarino commented on #80
Hi! This is indeed a library issue. The problem is `textArea` is automatically wrapped by a `scroll` widget, so the `nodeKey` call assigns the key to `scroll` and not to `textArea`. Automatically adding the scroll causes some complications (such as this), but I think it's generally the expected behavior (otherwise, users would need to wrap it manually).

I just pushed a new branch with a fix. You

[2022-02-13 20:07] simmihugs commented on #80
Hi @fjvallarino,
now it works as I expected, great thanks.

[2022-02-13 20:21] fjvallarino commented on #80
Sure, you can close it if you feel the issue is fixed!

By the way, I just merged the PR to `main` and deleted the associated branch. Because of this, the commit hash you tested with does not exist anymore (if you try a clean build, it will fail because `stack` will not find the hash). The new hash from the `main` branch is `510de85d5c48d16d45464af96035b0221aca7b09` (this commit hash won't change/

[2022-02-13 20:46] simmihugs commented on #80
Sounds good - looking forward to the 1.4 release

[2022-02-13 20:46] #80 closed

[2022-02-13 23:19] klausweiss opened #82 "SetFocusOnKey misbehaving with textArea"
Hey. First of all, thanks for monomer!

I think `SetFocusOnKey` is not handled as it's supposed to with `textArea`. The widget seems to be focused, but the text is not editable until after I press the tab key.

To illustrate this I've come up with a minimal example (code below). It consists of a `textField` and a `textArea` both modifying the same text. When you switch between them with tab, the t

[2022-02-14 02:09] fjvallarino commented on #82
Hi @klausweiss! I'm not currently at my computer, but the issue sounds
similar to this one:
https://github.com/fjvallarino/monomer/issues/80. Maybe the same fix
applies in this case too?

On Mon, 14 Feb 2022 at 00:19 klausweiss ***@***.***> wrote:

[2022-02-14 07:50] klausweiss commented on #82
Oh, I looked for textArea in issues before posting, but somehow didn't find the one you mentioned. Yup, that solved the issue. Thanks for prompt response!

[2022-02-14 07:50] #82 closed

[2022-02-14 08:36] simmihugs opened #83 "How to access hidden State of widgets"
Hi,

I was thinking about creating a container widget, which takes a textarea widget as input and adds line numbers.
For that I was thinking to have a look at `box` for the container and `label` as a way to display the linenumbers - but feel free to recommend other widgets I should rather have a look at.

What I was wondering is - how can the container access the internal state of textarea - speci

[2022-02-16 09:34] toku-sa-n opened #84 "Suggestion: add the `forcebreak` option to `labelCfg`"
Hi.

Currently `label_` with the `multiline` option only breaks lines at the spaces. Unfortunately, this is not useful for languages that don't use spaces to separate words (e.g., CJK).

What I'm thinking is to add the `forcebreak` option to `labelCfg`, which allows breaking lines even in the middle of a word. This is not ideal because it ignores the grammatical rule. For example, punctuations may

[2022-02-16 17:04] fjvallarino commented on #83
Hi! There is no easy way of accessing the internal state since it's mainly meant to be used by the widget itself. I'm not recommending doing this but, in general, you could:

- Since you are in a container, you can use `node ^. L.children` to access your children (probably a single element).
- The items in `L.children` are of type `WidgetNode`; you can use `node ^. L.widget` to have access to the

[2022-02-16 17:33] fjvallarino commented on #83
I mentioned the idea of creating a custom widget since line-based font switching goes beyond the simplicity of what `textArea` does (it's more like a Notepad than a Rich Text Editor), but having line numbers would be a valuable feature for many users! If you want to modify `textArea`, I'll be happy to review the PR/provide guidance.

Optional line numbers on `textArea` is a feature I have pending

[2022-02-16 18:00] simmihugs commented on #83
Yes to the highlighting of the current line too

I dont know how soon I will be able to do so
but I will definitely try it and if it is not completely garbage
of course I will give the change back to you so you can have a look

[2022-02-16 20:27] sproott opened #85 "Problem with linking stage in static builds"
For the past few days, I've been trying to build a static executable of a `monomer` app. I'm now stuck on a linking problem.

[code]

It says basically that GL, GLU and X11 libraries are missing, but they're installed and in `/usr/lib`, so I see no reason why it's failing. Here's a simple repo with the official example and a Dockerfile:

https://github.com/sproott/monomer-static-build-problem

To

[2022-02-17 00:45] Clindbergh commented on #26
I'm facing the same issue. Unfortunately deleting both directories and reinstalling `stack` did not help. I wonder whether a system installed `msys2` or `git bash` may interfere, though it seems unlikely from what I read. Do you have any recommendation?

[2022-02-17 09:54] fjvallarino commented on #84
Hi!

One option can be adding a new attribute to `TextStyle` that indicates how text should break on multiline. The benefit is that the functionality would be automatically available to all widgets using text (buttons, labeled items, etc.). We can create a new type:
[code]
Then add:
[code]
Additionally, to simplify usage, we can have these combinators (with instances on `TextStyle` and `StyleState

[2022-02-17 10:35] fjvallarino commented on #85
I honestly don't know what could be happening. This sounds more like an issue caused by what `GHC`/`Stack` expect vs what `Alpine` provides.

There were [some comments](https://www.reddit.com/r/haskell/comments/p12pjs/comment/h8an6c1/?utm_source=reddit&utm_medium=web2x&context=3) about static builds in the announcement post, but it's not something I have investigated.

I'll follow your related [is

[2022-02-17 10:37] sproott commented on #85
Alright, well, from the comments on Reddit, it seems that it's impossible to statically link `GL` and `X11`, so I'll probably just stick to shipping a distro-specific dynamic executable.

Should I close this issue then?

[2022-02-17 10:39] fjvallarino commented on #85
Sure! If you manage to make it work, it would be great to know!

Thanks!

[2022-02-17 10:40] #85 closed

[2022-02-17 10:58] fjvallarino commented on #26
If you have other `msys2` installs, make sure they are not visible in PATH (the one installed by `Stack` should be visible). Just to be sure, when compiling on Windows:

- I use the standard Command Line application (not PowerShell nor Cygwin).
- I do not run `git bash` or anything similar to ensure that I rely on things available on a default Windows install.

Have you tried running `stack setup`

[2022-02-17 11:38] toku-sa-n commented on #84
Thank you for the detailed explanations! I think `BreakOption` (or `Break`) is better for the type name because we can add, e.g., `BreakForCJK`. I'll implement the `BreakOnCharacters` option and later try the CJK option.

[2022-02-17 11:49] fjvallarino commented on #84
Sounds good! Adapt the names as you see fit. The only consideration I would have is, if you export the symbol from the main `Monomer` package, to try not to use a too common word (or maybe add a prefix). I mention something similar in this issue: https://github.com/fjvallarino/monomer/issues/78#issuecomment-1034875486.

[2022-02-19 15:32] Dretch commented on #77
This was done in https://github.com/fjvallarino/monomer/pull/79

[2022-02-19 15:32] #77 closed

[2022-02-19 16:23] Dretch opened #87 "Feature request: text widget that is selectable but not editable"
Hello,

It would be useful for me to have a widget that displays text that can be selected (and copied), but cannot be edited.

Currently I don't think this exists: textfield/areas can be disabled to stop editing, but then you can't select the text either. Labels don't currently allow selecting.

Could textfield/area perhaps have a `readonly` option? I can probably send a PR.

[2022-02-20 10:19] fjvallarino commented on #87
It would really be nice to be able to select text on non-editable content. As you suggest, the easiest route is adding the `readOnly` configuration option to `textField` and `textArea` since these widgets already implement the selection functionality. Adding text selection to `label` would be a bit painful.

The `textField` widget uses `InputField` underneath, since it provides all the editing fun

[2022-02-21 02:40] Clindbergh commented on #26
Thank you for your quick reply!

I removed `msys2` installed by `git bash` from the path. It now points to the [same version as in the current stack github repository](https://github.com/commercialhaskell/stackage-content/blob/5b06d3551e6b23ca48a0581b4d5ce006bf767eaf/stack/stack-setup-2.yaml#L79):

[code]

I also made sure I was not using `git bash` anymore and worked on `cmd` instead. Although th

[2022-02-21 08:29] fjvallarino commented on #26
It surprises me a bit that your path is `C:\Users\Me\AppData\Local\Programs\stack\x86_64-windows\msys2-20210604\msys2.exe`. That means you are using version `20210604`, but [msys's](https://www.msys2.org) installer shows `20220128` as their latest. Of course, this may be caused by Stack not installing the latest msys, but it's worth checking. What do you get when running this?:
[code]
I still thin

[2022-02-21 14:58] Clindbergh commented on #26
🥳  **Compiling now worked and I can run all the examples** 😃. Thanks for the support.

---

A few comments on your suggestion. Maybe helpful for others or it may point to a misconfiguration in my system.

`pacman` is installed in the `stack` folder too:

[code]

There is indeed another `msys2` instance installed (probably for `git bash`). It's located in `C:\msys64` and it uses a different `pacman

[2022-02-21 15:17] fjvallarino commented on #26
That's good to hear! To confirm: are these the commands that solved the issue?
[code]

I'll add them to the documentation if that's the case (mentioning the msys issue where they come from)

[2022-02-22 12:39] sproott opened #88 "Ghcid not working properly"
I tried using `ghcid` for development. After saving a file, the original app window stays open and another one opens and the app cannot be stopped normally, I have to Ctrl+C the `ghcid` command itself. So, I basically cannot use `ghcid` for development. Screenshots:

- First open of the app

![image](https://user-images.githubusercontent.com/46423131/155133926-33927156-cb8c-49fb-8a0f-07376a15550e.

[2022-02-22 12:40] simmihugs commented on #83
So this is my first try with it

![grafik](https://user-images.githubusercontent.com/51531595/155132902-0b3d71c8-0365-497e-a375-14f51a573a56.png)

As you recommended I
-  Add a new configuration option to enable showing line numbers.
-  Modify getSizeReq to account for the extra space of the margin containing the numbers.
-  Modify render to display them.

But I'm a bit confused what you said here

[2022-02-22 12:47] fjvallarino commented on #88
Hi @sproott!

Yes, that's the expected behavior: you have to close the previous window before making changes; otherwise, both instances will run alongside. It does not work as in a Lisp where you can dynamically replace code; it just launches a new application instance.

The main reason for using `ghcid` is that the development cycle is much faster than compiling and running.

[2022-02-22 13:05] sproott commented on #88
So I suppose the previous window cannot be closed automatically? Of course I expected it to open a new window, but the current behaviour seemed broken to me.

[2022-02-22 13:23] fjvallarino commented on #88
It might be possible, but it can get complicated. The existing and new application instances would need to communicate somehow in order to have the old one shut down itself, probably using a socket or similar. Using a socket may cause issues with open ports/etc, so ideally something else can be used.

I'll think about it.

[2022-02-22 13:26] sproott commented on #88
I would just have ghcid signal SIGTERM to the original application, of course I have no idea if something like that can be done in a ghcid config.

[2022-02-22 13:31] fjvallarino commented on #88
The problem is everything runs inside a `ghci` instance (`ghcid` uses it under the hood). Using SIGTERM would kill the whole process, including the new application instance.

[2022-02-23 09:19] sproott commented on #88
Today I've found this library: https://hackage.haskell.org/package/rapid which can be used to restart/update parts of the application for hot reloading. Could this work?

[2022-02-23 11:14] sproott commented on #88
Related issue: https://github.com/ndmitchell/ghcid/issues/191

[2022-02-25 09:37] fjvallarino commented on #84
@toku-sa-n I'll close this issue since the PR was merged. If you feel something is missing, please re-open it or create a new one. Thanks!

[2022-02-25 09:37] #84 closed

[2022-02-25 12:50] toku-sa-n commented on #84
No, there are no missing things. Thank you for merging it!

[2022-02-25 17:57] fjvallarino commented on #83
Sorry, I missed this because the issue was closed.

Each `WidgetNode` (an instance of a `Widget`, plus information about location, visibility, etc.) has an associated `viewport` that represents the area where it can render its content. You can access this `Rect` in all widget-related functions with `node ^. L.info . L.viewport`. When you add a widget to a regular container (`hstack`, `vgrid`, `box

[2022-02-25 18:13] fjvallarino commented on #88
Fixing the issue through `ghcid` would be ideal. I'll take a look; it is a nice feature to have.

I think the implemented solution should be part of [`monomer-starter`](https://github.com/fjvallarino/monomer-starter) since this issue is not library-specific. The idea of using `ghcid` is primarily a convenience for the programmer, not a feature provided by the library.

Just to be clear: let's keep

[2022-02-25 20:02] simmihugs commented on #83
Thanks for your response - My bad I did not reopen the issue

I will have a look at it and try to incorpriate it into my own changes and let you know if I have more questions

[2022-02-26 01:43] simmihugs commented on #83
Okay, I took your advise and played around with it a little

![fragment](https://user-images.githubusercontent.com/51531595/155823889-59020603-5a45-4114-9661-d40f21812c12.gif)

Hurray! But now there are a bunch of things which I have to look at
1. scrolling keeps the linenumbers visible but they move slightly back and forth to the left, right
2. The cursor is not aware of the shift to the right, s

[2022-02-27 12:17] fjvallarino commented on #83
1. The reason why the line numbers jump back and forth is that the padding is affecting the viewport size; I missed subtracting it when I typed the example code. One way you can check this type of thing is by drawing a red rectangle (or any other color) for testing. Is not a sophisticated means of debugging, but it's quite helpful. In this case, you can change the example code pasted below to `wvp

[2022-02-27 12:25] fjvallarino commented on #87
My only concern is that `editable` is a common name to have in a record, and it can cause issues when generating lenses. Of course, the same can happen with `readOnly`, although somehow I feel it's a bit less common. I don't have a strong preference.

[2022-02-27 12:50] simmihugs commented on #83
Hi @fjvallarino,

thanks for the reply and yes I want to push it to the repo - I not that familiar with github yet. I did made a fork of `monomer` and made my changes; next I push it to my own branch and then make a pull request ... right?

I will make this as soon I had time to look at your reply in more detail - an either be able to fix my issues --> than I would like your opinion etc.
or I run

[2022-02-27 12:58] fjvallarino commented on #83
No problem if you want to work on a separate repository. If you forked the project and pushed a branch to your repo, I'm fine with reviewing the code there. Having the complete code in a single place will make it easier for me to review because I will know the values of the constants you use, etc.

[2022-02-27 12:59] Dretch commented on #87
Fair enough @fjvallarino -- I don't have a preference so I will go with `readOnly`.

[2022-02-27 13:14] simmihugs commented on #83
Okay I thought this is the way you are supposed to do it and I did not know I could push to your monomer prepository directly(?).

As I already made a fork I probably go ahead this way.
But I do need to send a pull request inorder for you seeing I made a change, right?

[2022-02-27 13:20] fjvallarino commented on #83
You can send a pull request once you are happy with the implementation; there is no need to hurry. If you share a link to your repository indicating the branch you are using, I can check it as long as the repository is public.

[2022-02-27 13:29] simmihugs commented on #83
Okay allright

this is the link https://github.com/simmihugs/monomer/tree/add-linenumber-to-textarea

once I'm are happy with it I will make a request

[2022-03-01 18:05] klausweiss commented on #87
Hey, I also have a usecase for such a widget. Would implementing it as a `readOnly` config option to textfield/textarea allow selecting text from multiple such widgets at once? Say I have multiple labels next to each other and want to select text from all of them, like I can do in a web browser now:

![image](https://user-images.githubusercontent.com/11031002/156223936-ea16441d-588b-4038-bd5f-4fce

[2022-03-01 21:53] Dretch commented on #87
@klausweiss the most straightforward way of implementing readOnly will not allow selecting across multiple widgets. I suspect it would be quite a difficult/large change to get that to work: there would need to be some sort of global selection context that peeks inside all the widgets, or something… I’m not attempting this right now anyway!

[2022-03-02 09:36] fjvallarino commented on #87
@klausweiss selecting text from multiple widgets is not possible. Monomer behaves similarly to desktop/mobile libraries such as GTK or Flutter, instead of following a document object model where there is an implicit and selectable document (there is a similar [discussion](https://github.com/flutter/flutter/issues/79629) in Flutter's repository).

I'm not sure what your requirements are, but if you

[2022-03-02 22:38] klausweiss commented on #87
I see, that's kind of what I expected. I don't want to hijack this thread. If that's ever a hard requirement for me, I'll try to come up with something or I'll open a discussion. Good to know that won't be possible for now.

[2022-03-03 19:48] Clindbergh commented on #26
Sorry, I have been away a few days and haven't worked on it.

Yes, I believe these were the essential commands that solved the issue. _However_, I'm not sure if I had to delete the directory again afterwards or even reinstall or run these commands twice to solve the problem. It would probably be a good idea to add these commands to the documentation. Thanks!

[2022-03-05 14:57] Dretch opened #91 "Bug: shift+drag on TextField widget causes a crash"
There seems to be a bug in the TextField because, unlike other InputField types, it does not implement any drag behaviour.

To reproduce, simply hold shift and then click and drag on a TextField -- the program will crash with a `Maybe.fromJust: Nothing` error.

There is a `fromJust` that seems to be the problem, here: https://github.com/fjvallarino/monomer/blob/9f02be85caa5e0e03a1c5c85a28d73b45bf7

[2022-03-05 15:56] fjvallarino commented on #91
It definitely is a bug. I guess I reordered the case branches at some point and missed this case (or it was wrong from the beginning!). Just in case, I added a unit test and validated first that it failed before the fix.

Thanks for reporting!

[2022-03-06 16:18] #91 closed

[2022-03-11 12:28] fjvallarino commented on #87
@Dretch I'm closing this issue since the PR was merged. Feel free to re-open if something is missing. Thanks!

[2022-03-11 12:28] #87 closed

[2022-03-11 15:54] simmihugs opened #96 "Question on Producers"
How can I stop Producers and later restart it?
So if a Producer is relevant for some part of the application, which might be inactive / active / inactive ...

How can I access the model from within a producer?
So if a Producer might change its behaviour based on differences in the appmodel, e.g. changes threadDelay

[2022-03-11 20:37] fjvallarino commented on #96
There's not a direct way of accessing the model from the producer. I usually apply one of these options:

1. Keep the producer running and ignore the event on the application's event handler during the time you're not interested in it.
2. Create a communication channel (TChan or TQueue) before creating the producer and use it to send messages from the application to the producer (you will need a T

[2022-03-11 20:51] simmihugs commented on #96
Okay, I'm not very familar with the concept, but I think it is kinda what you do in the `ticker` example?

But I guess before I try anything in this direction I first need to learn what a TChan an or TQueue is

Thanks

[2022-03-11 21:10] fjvallarino commented on #96
These communication channels can be used for sending messages between threads. A Producer is, in the end, running in a separate thread so a means of communication with the application is needed (the `sendMsg` argument a Producer receives is under the hood a TChan).

The idea, then, is to have your producer check if it has received a message from the application (`tryReadTChan` is non blocking, whi

[2022-03-11 23:22] MilesLitteral opened #97 "Ubuntu: NVIDIA RTX A6000 - Unable to make GL context current"
Hey all, I'm trying to build monomer on Ubuntu and no matter what I do in the build process (stack clean, recloning the repo, reinstalling nvidia drivers) I get this error when trying to run any example apps:

[code]

I ran a debug trace(`LD_DEBUG=libs stack run generative`)  which tracked down this error when running stack run generative (for example):

```76922:     /lib/x86_64-linux-gnu/libnvid

[2022-03-11 23:27] fjvallarino commented on #97
There seems to be a driver issue with some cards on Linux. Check [this issue](https://github.com/fjvallarino/monomer/issues/83). There's a configuration flag at the bottom that may help you.

[2022-03-12 03:07] MilesLitteral commented on #97
I looked through the referenced issue and implemented what solution I could to no avail; for now it seems like a now Known Issue, I appreciate all your help 🙏🏽

[2022-03-12 08:13] fjvallarino commented on #97
Sorry, I answerer from my phone and I pasted the wrong issue. I meant to paste this one: https://github.com/fjvallarino/monomer/issues/9.

I think if you add `appRenderOnMainThread` to the configuration options list provided to `startApp` the issue should go away.

[2022-03-13 13:46] Dretch commented on #96
Not sure it is the best way of doing this, but another option is to use a producer that:
1. delays for some time period
2. does some work
3. emits another event that, when handled, will start a new producer to start the loop again at (1)
4. finishes

When the widget is removed from the tree then the event in step 3 is ignored, so the loop stops. There is an example here: https://github.com/Dretch/

[2022-03-13 17:43] fjvallarino commented on #97
For instance, in the Generative example, the code would be:

[code]

[2022-03-13 21:32] simmihugs commented on #96
Okay so my solution, just if someone else has this question, is

I create a TChan in main an store it in the `Appmodel`. I use `peekTChan` in my producer and `unGetTChan` in my modifier task

Thanks everyone for the input

[code]

[2022-03-13 21:33] #96 closed

[2022-03-14 15:37] MilesLitteral commented on #97
That worked like a charm!
Thank you very much :)

[2022-03-15 02:31] fjvallarino commented on #97
Great! I'll close the issue, then.

[2022-03-15 02:31] #97 closed

[2022-03-15 16:40] MilesLitteral opened #99 "Question: Update Image Widget Source"
Hello again! I had a question; I see that the library has many WidgetRequest(s) like StopTextInput, SetCursorIcon, I was wondering if one wanted to, say, update an image at the click of a button which WidgetRequest should be used?

I was about to write an `UpdateImageSource WidgetId Path` explicitly for this purpose but I wanted to make sure  I wasn't just reinventing the wheel heh

[2022-03-15 16:59] MilesLitteral commented on #99
Ah I see, Cool I will definitely take your suggestions, thank you

[2022-03-15 17:23] #99 closed

[2022-03-17 03:07] fjvallarino commented on #61
I just pushed a branch that adds a configuration option to the `scroll` widget, `thumbMinSize`, that allows setting a minimum thumb size; it defaults to 25 pixels.

To use it, you will need to update your `stack.yaml`:
[code]

You could, for example, use it this way:
[code]

[2022-03-17 03:09] fjvallarino commented on #83
I don't think anything is pending from my side, so I'll close this issue for the time being. Please re-open if needed. Thanks!

[2022-03-17 03:09] #83 closed

[2022-03-17 03:12] fjvallarino commented on #44
I don't think anything is pending here, so I'll close the issue for the time being. Please re-open if needed. Thanks!

[2022-03-17 03:12] #44 closed

[2022-03-17 16:48] fjvallarino commented on #61
The PR has been merged, so the previous commit hash is no longer valid. The new one (which will not be changed or removed) is this:
[code]

[2022-03-21 23:55] simmihugs commented on #83
I finally found some time to revisit this.

![grafik](https://user-images.githubusercontent.com/51531595/159380793-33650ff7-269b-4595-8517-ba447de247c3.png)

I was able to add the following functionallities:
- Syntaxhighlighting
- Linenumbers && highlighted current linenumber
- Highlight current Line
- Selection works as expected
all handled by config options for textArea.

Two things though:
- It

[2022-03-22 00:04] simmihugs opened #101 "I finally found some time to revisit this."
(I could find how to reopen the issue 83#)

I finally found some time to revisit this.

![grafik](https://user-images.githubusercontent.com/51531595/159380793-33650ff7-269b-4595-8517-ba447de247c3.png)

I was able to add the following functionallities:
- Syntaxhighlighting
- Linenumbers && highlighted current linenumber
- Highlight current Line
- Selection works as expected
all handled by config op

[2022-03-22 00:11] simmihugs opened #102 "Wheelrate for textArea"
textArea is automatically inside scroll - correct?
now, textArea_ does not have cfg for wheelrate

how can I reach the wheelrate of the implicit scroll of textArea?

[2022-03-25 02:49] fjvallarino commented on #101
Hi! The issue of the line numbers' jittering is most likely caused by rounding. After testing for a while, I think the most reliable solution is to use `drawInTranslation` instead of manually adding the offset. The resulting code would be:

[code]

I'm not sure I understand the syntax highlighting issue; I tried switching it back and forth and I have not noticed anything strange. Let me know if it

[2022-03-25 02:55] fjvallarino commented on #102
I'm not sure I understand what you want to do. If your objective is being able to change the `wheelRate` configuration of the `scroll` that wraps your `codeEditor`, you can do it [here (from your repository)](https://github.com/simmihugs/monomer-textArea/blob/main/src/MyTextArea.hs#L264).

That `scrollCfg` list is the regular configuration list you pass to a widget. This means you can add `wheelRa

[2022-03-25 02:56] fjvallarino commented on #61
I'll close this issue since the fix has been merged to master. Please re-open or create a new one if you feel something is missing. Thanks!

[2022-03-25 02:56] #61 closed

[2022-03-25 20:17] simmihugs commented on #102
Thanks - with your explanation I was able to find the position in the widget && added a config option

[2022-03-25 20:17] #102 closed

[2022-03-25 21:59] simmihugs commented on #101
Hi @fjvallarino,

1. Linenumber jumping
    I updated the repo to use your code you posted above - And It works now which is great
2. ghcid
    I followed your recommondation and updated the ghcid file - the only reason why I'm not using ghcid all the time is because
    I found the performance better with `stack build` and `stack exec app` - as it should be I guess because it's compiled (?)
3. sy

[2022-03-29 19:53] fjvallarino commented on #101
In the end, it was an obvious error in the initialization of Monomer's `FontManager` 🤦🏻‍♂️.

I created a PR that I will keep around for a couple of days, since I want to validate nothing looks weird.

To use it, you need to update your stack.yaml to use this commit hash:
[code]

You will also need to make a few updates since `Timestamp` is no longer an alias to `Int`, but its own newtype. The time

[2022-03-29 21:31] simmihugs commented on #101
I applied your recommended changes - also pushed to the mentioned repo
But I still observe the jumping with switching on and of on the syntaxhighlighting.

[2022-03-29 21:38] fjvallarino commented on #101
That is weird. I just pulled the latest version from your repository, rebuilt it from scratch, and it works fine. Have you tried running `stack purge`, then `stack build`?

[2022-03-29 21:39] simmihugs commented on #101
I changed the `stack.yaml` and when `stack build`

but I gonna check with `stack purge` right away

[2022-03-30 20:59] simmihugs commented on #101
I run into an issue with `stack purge` - on windows I get an exception which tells me I dont have permission to delete `.stack-work`  this still happens when I run it with an admin terminal.

I tried to delete `.stack-work` by hand and rebuild - but it did only rebuild my code in the repo

Then I did some googling and used `stack exec -- ghc-pkg unregister monomer`, delted the `.stack-work` again

[2022-03-31 02:32] fjvallarino commented on #101
I tested disabling hdpi (this is not a flag exposed by Monomer's configuration, it's part of SDL initialization) and could reproduce the issue again (it didn't happen with hdpi on). It seems the difference is in a scaling factor nanovg applies to all its text-related operations. I could not find an easy way to reproduce that formula since it relies on internal state, but scaling by a largeish fact

[2022-03-31 15:15] simmihugs commented on #101
Changed to the new branch - now it works great!!!

![linenumberjumping fixed (really)](https://user-images.githubusercontent.com/51531595/161087108-451b262d-4c00-4f51-badc-579a47916624.gif)

Now I found an issue regarding the linenumbers - I have to make the linenumbers start in relation to the textArea widget not hard code like I do it right now, so still some stuff to do before I can publish it

[2022-04-02 02:52] fjvallarino commented on #101
You need to consider the vertical position of your `codeEditor`. Since you are, for the line numbers section, trying to override the offset `scroll` sets, you will also need to account for the y coordinate (you already do for x). I tested now and this seems ok:

[code]

[2022-04-02 08:27] simmihugs commented on #101
I applied your changes, only I in the meantime added config options for colors for linenumberbackground, linenumber, current linenumber. But I think your solution is slightly of to the top so I added `3 + node ^. L.info . L.viewport . L.y`. So there might be some padding missing?

[code]

I changed the name of the [https://github.com/simmihugs/codeEditor](repo) to `codeEditor` and added a library

[2022-04-02 13:02] fjvallarino commented on #101
That's strange: it looks off if I add the `+3` you mention. In my case, the numbers look aligned with the text, although not with respect to the highlight box.

Nice!

[2022-04-02 13:41] fjvallarino commented on #101
The PR for the glyph positioning issue has been merged to main, making the previous commit hash invalid.

You can use this in `stack.yaml` until 1.4 is released:

[code]

Once you update, the build of your component will fail because [of a change](https://github.com/fjvallarino/monomer/pull/107) where the `Timestamp` type was renamed to `Millisecond`. If you search and replace in your code, it sho

[2022-04-02 20:09] simmihugs commented on #101
I found out that the offset is nessecary when a larger font size is used (compare screenshots below)
Next I will update to the new release

What I get - on the left with the offset* on the right without
That the numbers without the offset are very slightly to much to the top
![compare vertical offset](https://user-images.githubusercontent.com/51531595/161397992-bfd90a0a-0634-46d4-a951-8898c331c2cd

[2022-04-05 14:20] srgtmshnk opened #110 "Problems with viewport"
Viewports that i am getting from ```wenv ^. L.widgetKeyMap . at (WidgetKey name)``` are always ```Rect {_rX = 0.0, _rY = 0.0, _rW = 0.0, _rH = 0.0}```, Is this a bug or i just miss something? I need a way to make some points inside a big scroll, i give them their ```nodeKey```, and then i am trying to get a viewport of one of them to send it with ScrollTo. Could you please help ?

[2022-04-05 19:17] monawasensei opened #112 "Issue using some container widgets"
I could be totally off base but I am not able to use some container widgets like `box` and `hsplit` in a definition like `box . label $ "foo"`,
 due to this warning:
```No instance for (Typeable s) arising from a use of ‘box’```
I am unable to use `box` with any widget that I tried, aliasing the box function `box' = box` showed the same warning in the definition so it doesn't appear only when appl

[2022-04-05 19:37] fjvallarino commented on #112
Hi @monawasensei!

If you have a complete example, even something like the default Main.hs file with enough changes to reproduce the problem, I can take a look.

Does the same happen if you use `vstack`, for example?

[2022-04-05 20:27] monawasensei commented on #112
Thanks for the reply! I've been trying to reproduce this in the sample Main.hs from the tutorial but I can't. I've managed to reproduce the exact set of packages used in my project in the tutorial project but the issue is not appearing there, only in my other project. I've tried deleting my package store and re-installing everything and that did not resolve the problem. Really kind of stumped on h

[2022-04-05 20:32] monawasensei commented on #112
And by the way, vstack and hstack both work for me. I think the problem containers I have are the ones where the function signatures are parameterized with either (WidgetModel s) or (WidgetEvent e).
like this:
[code]
or
[code]
and neither label nor the stacks have those parameterizations like
[code]
and they both work without issue.

[2022-04-05 20:47] monawasensei commented on #112
[monomer-issue.tar.gz](https://github.com/fjvallarino/monomer/files/8421735/monomer-issue.tar.gz)
Here is an archive of a cabal project that should reproduce this issue

[2022-04-05 21:21] fjvallarino commented on #112
I tested the `Node.Base` example (not the tar.gz one), and this modified version compiles:

[code]

This works because it satisfies the requirements of the `box` function: it expects to receive a `WidgetNode` whose type arguments are of type `WidgetModel` for s, and type `WidgetEvent` for e (both `WidgetModel` and `WidgetType` are aliases of `Typeable`). Since, in this case, we're being explicit i

[2022-04-05 21:32] monawasensei commented on #112
[code]
Was exactly what I was missing from my WidgetNode definition. Adding that to each of my definitions fixed the problem, simple fix lol. Thanks so much! I like this lib a lot, please keep it up!

[2022-04-05 21:32] #112 closed

[2022-04-06 11:51] srgtmshnk commented on #110
Awesome! Thank you so much. ```The widgetKeyMap property of WidgetEnv should not have the complete WidgetNodeInfo structure,``` was the problem.

[2022-04-06 13:56] fjvallarino commented on #110
Great! I'll close the issue, then. Please re-open if needed. Thanks!

[2022-04-06 13:56] #110 closed

[2022-04-12 03:01] prolic opened #115 "hstack problem"
This might not be an issue, but I definitely ran into this and am kind of stuck:

Considering this hstack:
[code]

The text is NOT aligned on top and the back button is huge. I tried adding `styleBasic [height 20]`  to the back button without success.

Any help is appreciated

![Screenshot_20220411_230007](https://user-images.githubusercontent.com/394428/162870759-d22aae06-ae5c-458d-8e4c-cd1fc37c8

[2022-04-12 03:02] prolic commented on #115
Also, is there a way to make text "copy-able"?

[2022-04-12 03:30] fjvallarino commented on #115
Hi @prolic!

Below you will find the updated code; here are the answers:

- The styles are not cascading as in CSS; they belong to the widget to which they are assigned. To avoid duplication, you can always use a function to standardize how you style things, as described [here](https://github.com/fjvallarino/monomer/blob/main/docs/tutorials/02-styling.md).
- Buttons, by default, have a hand cursor

[2022-04-12 03:41] fjvallarino commented on #115
I just realized that you will need to use the latest version from `main` for the read-only `textFieldD_` idea to work. You can update your `stack.yaml` with:

[code]

[2022-04-12 12:11] sproott opened #116 "Problems with binding keystrokes"
I have several questions/problems regarding binding keystrokes:

- Because '-' has a special meaning for separation of key modifiers, I can't seem to make a binding for it, because the function splits on this character.
- I have problems with defining keystrokes for other symbols, like ^, +. For +, Shift-= doesn't work unless I bind it specifically. These symbols also don't work at all on the nump

[2022-04-13 03:59] fjvallarino commented on #116
I just pushed a branch that handles the first two issues:

- You can use _Dash_ to handle the '-' character. For example, "C-Dash".
- Symbols can now be handled but, since they are not physical keys, I can't detect when they were released (since they share the keyCode with the main key). Below is the note I added in the widget's Haddock.

[code]

Regarding the Numpad, I'll take a look in the follo

[2022-04-13 04:06] fjvallarino commented on #78
PR https://github.com/fjvallarino/monomer/pull/117 (related to issue https://github.com/fjvallarino/monomer/issues/116) adds logging of invalid key combinations.

I will not pursue the other options, because:

- Exporting all those symbols can cause name clashes and, as I mentioned in other issues, I try to avoid that as much as possible.
- Using TemplateHaskell brings issues of its own.

Consider

[2022-04-13 04:06] #78 closed

[2022-04-13 07:16] sproott commented on #116
Awesome, I'll try these changes out. Thanks

[2022-04-13 20:41] sproott commented on #116
Almost everything works as expected. The numpad also works now, apart from (for whatever reason) the numpad dash key and numpad enter.

[2022-04-14 03:41] prolic commented on #115
perfect, thanks my friend.

[2022-04-14 03:41] #115 closed

[2022-04-14 04:05] prolic commented on #115
BTW: The text-field solution has some problems style-wise. I tried removing the border and radius and also set the background color manually, so it doesn't look like a text-field, but like a normal label:
[code]
Problem is, I see some white lines:
![Screenshot_20220414_000425](https://user-images.githubusercontent.com/394428/163311577-784aa5e2-636e-4c4e-b65f-044a776ff8ed.png)
(Notice the 2 small w

[2022-04-14 04:12] prolic commented on #116
Does this also affect the "Fn" key on my notebook? I haven't tried it yet, but in current main branch I receive this output in my console: `The key you just pressed is not recognized by SDL. To help get this fixed, please report this to the SDL forums/mailing list <https://discourse.libsdl.org/> X11 KeyCode 151 (143), X11 KeySym 0x1008FF2B (XF86WakeUp).`

[2022-04-14 08:20] sproott commented on #116
Now everything works properly, thanks!

[2022-04-14 13:37] fjvallarino commented on #115
I could not reproduce the issue. Could you paste your complete code? I tried this:

[code]

Notice that I used 0 for the last `Color` argument (alpha). There is also an exported `transparent` Color that you can use instead.

[2022-04-14 16:52] fjvallarino commented on #116
As this has been merged to main, I'll close the issue. Please re-open or create a new one if needed. Thanks!

[2022-04-14 16:52] #116 closed

[2022-04-14 19:54] sproott opened #120 "Enter key and buttons"
When I press Enter, the last focused button gets pressed. Can this be disabled if I want to have a custom event bound to Enter?

[2022-04-14 20:16] fjvallarino commented on #120
I'm not sure I understand. Does the button still have focus?

You can avoid having the event passed down to children when it matches a keystroke pattern by using [ignoreChildrenEvts](https://hackage.haskell.org/package/monomer/docs/Monomer-Widgets-Containers-Keystroke.html).

The problem is that, if the `button` is a child of `keystroke`, it will never receive the Enter event itself. In general, w

[2022-04-14 20:28] sproott commented on #120
The weird thing is that the buttons have actually been receiving the Enter event. But I recall it working as you say a while back. Could it be a regression from #117?

[2022-04-14 20:29] fjvallarino commented on #120
If you have a code sample where I can reproduce the issue, I can check it.

[2022-04-14 20:30] sproott commented on #120
Alright, I'll try to cook something up.

[2022-04-14 20:45] sproott commented on #120
https://github.com/sproott/monomer-enter-key-test

Right after launching this example, just pressing Enter activates both the button press and the keystroke event.

[2022-04-14 20:56] fjvallarino commented on #120
Applying the `ignoreChildrenEvts` config to `keystroke`, the Enter event is not passed to the `button`. You can still click on the button to trigger its event, but the Enter keypress will never reach it.

[code]

[2022-04-14 20:59] sproott commented on #120
Oh then I probably misunderstood, so to actually do this, you do need ignoreChildEvts.

[2022-04-14 21:02] #120 closed

[2022-04-14 21:05] fjvallarino commented on #120
I will add a note in the docs to be more explicit about it. Thanks!

[2022-04-15 01:58] prolic commented on #115
Right now I can't reproduce either. No idea. But it works now. Thanks for the hint to `transparent`.

[2022-04-16 22:31] prolic opened #121 "How to render images"
Is there a way to render images or even videos from within monomer?

[2022-04-17 00:47] toku-sa-n commented on #121
You can use the [image](https://hackage.haskell.org/package/monomer/docs/Monomer-Widgets-Singles-Image.html) widget for rendering images. I'm not sure monomer can render videos.

[2022-04-17 01:01] prolic commented on #121
Thanks @toku-sa-n - must have missed it, stupid me :)

[2022-04-17 13:36] fjvallarino commented on #121
Hi @prolic! Monomer indeed supports images through the [image](https://github.com/fjvallarino/monomer/blob/main/docs/tutorials/04-tasks.md#image) widget. There is no support for video at the time; I plan to add support for gifs as a first step in the future.

Regarding the image widget, it's important to note that it supports the styling properties of all the other widgets. For example, if you set

[2022-04-17 15:25] prolic commented on #121
Thanks @fjvallarino

[2022-04-17 15:25] #121 closed

[2022-04-18 07:09] sproott opened #124 "Right aligned text moving when getting longer"
I've noticed this happening with JetBrains Mono, it doesn't happen with the default Roboto font. The longer the label for right-aligned text gets, the more the text moves to the right. Could it be a problem with some font calculation?

[Example](https://github.com/sproott/monomer-right-align-problem)

![image](https://user-images.githubusercontent.com/46423131/163770393-6ae681e1-a273-470d-b4bf-5d2

[2022-04-18 23:44] fjvallarino commented on #124
There was indeed a problem, tightly related to another issue I could not fix at the time and which had a temporary workaround. I think the underlying problem is now solved.

You can test by modifying your `stack.yaml` to point to:

[code]

[2022-04-19 01:39] fjvallarino commented on #101
Sorry, I missed this. I sent a PR to your project with a possible fix: https://github.com/simmihugs/codeEditor/pull/1.

I think the complication you were having was caused by generating the text positions manually. The fix does two things:

- Reuses the bounding boxes of the text lines.
- Considers the descending of the font.

I tried with a few, small and really large font sizes and it looks good

[2022-04-19 06:33] sproott commented on #124
The PR indeed fixed the problem.

[2022-04-19 13:30] fjvallarino commented on #124
Great! I just merged to main. I'll close the issue. Please re-open or create a new one if needed. Thanks!

[2022-04-19 13:30] #124 closed

[2022-04-21 17:06] MilesLitteral opened #126 "Terminal/std_out control"
Hey again, thanks for all the great work and effort that has gone into this library It has been very helpful and a pleasure to utilize; I was wondering if it was possible, via utility function or otherwise, to put text to the Terminal? As I understand Monomer, and SDL2 use the std_out. Is there anyway to interact with the same pipe that monomer itself is using to, say, output a statement?

Thanks

[2022-04-21 20:53] fjvallarino commented on #126
Hi @MilesLitteral!

To output text to the console you can use a `Task`, since it receives an `IO` action, and use any of the regular output functions you would use in console programs. For example:

[code]

It is also possible to request a `Task` to be run in `AppIncrease`; I just split them to avoid confusion with what to model contains (until `handleEvent` is called again, the `model` variable w

[2022-04-22 17:16] fjvallarino commented on #101
Great!

I'm not sure how you handle the pull requests you receive, but you can test them locally before merging them to your repository to ensure the changes work as expected. [This](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/checking-out-pull-requests-locally#modifying-an-inactive-pull-request-locally) page shows how you can check

[2022-04-22 17:16] #101 closed

[2022-04-23 14:15] fjvallarino commented on #72
I looked into adding logic for detecting DPI scaling on Linux, but I did not find the different ideas reliable. Ubuntu seems to do its own thing, and some environment variables may be available or not depending on the window manager. I will keep an eye on whether SDL fixes `SDL_GetDisplayDPI` (it returns zero on Linux) and come back to it in the future.

For the time being, I added a flag called `

[2022-04-23 14:41] fjvallarino commented on #72
I pushed an extra commit that attempts to use `SDL_GetDisplayDPI` on Linux, since it may work in some cases. If it fails, it will default to the logic mentioned before (assume DPI = 2 if window width > 1920, DPI = 1 otherwise).

[2022-04-26 02:26] fjvallarino commented on #126
I'll close the issue for now. If you have any other questions, please re-open it or create a new one. Thanks!

[2022-04-26 02:26] #126 closed

[2022-04-26 18:31] MilesLitteral commented on #126
Sorry I'd forgotten to submit my comment thanks again for all your help :)

[2022-04-27 07:47] locallycompact opened #130 "Unable to make GL context current."
Hi, getting this on NixOS with `nix run` at latest master.

[code]

[2022-04-27 13:25] fjvallarino commented on #130
Hi @locallycompact!

This seems to be an issue with [NVIDIA's driver on Linux](https://github.com/fjvallarino/monomer/blob/main/docs/tutorials/00-setup.md#linux-notes), which fails when creating a GL context in a thread. Using a secondary thread allows content to dynamically adjust to the size of the window when the latter is being resized.

Adding `appRenderOnMainThread` to the application startu

[2022-04-28 03:20] fjvallarino commented on #126
Just in case you are using Windows and are still having problems with outputting text to the console, I saw this issue on SDL2's repository which may be related: https://github.com/haskell-game/sdl2/issues/86.

The fix seems to require adding this to your `package.yaml` (copied from this [PR](https://github.com/expipiplus1/vulkan/commit/d506a3d0c07df4bd732af22d16d97faca6dd243a) mentioned in the is

[2022-04-28 03:49] fjvallarino commented on #130
I just pushed a branch, `fix/gl-make-current`, that implements a fallback mechanism to use main thread rendering when the driver fails to make the rendering context active on a secondary thread.

Using this branch, the solution I mentioned in the previous comment should not be necessary, and the examples are expected to work without changes.

[2022-04-28 17:32] fjvallarino commented on #130
I pushed an additional commit to the same branch which fixes the issue on the OpenGL example running in single-threaded mode. I think it should work now.

[2022-04-29 23:09] MilesLitteral opened #133 "Proper Dynamic Widget Creation"
Hey again, I was looking over your example from Books as I have a similar issue to tackle (I'll describe in abstract)

A Function (createAlbum) loads a List of Image Paths [FilePath], it operates on the paths and returns a list of WidgetNodes
[WidgetNode AlbumModel AlbumEvt] which are given to a zstack in the buildUI function via an ALens' (named availableSelections)

The function is able to do ev

[2022-04-29 23:20] fjvallarino commented on #133
Hi! Could you replace the single backticks ` with triple backticks? (```)? That will help see the code more easily. You can also indicate the language so it's formatted nicely (wrapping the complete source code you provided in a single pair of triple backticks is probably a good idea):

[code]

You can also click on `Preview` before submitting it to make sure it is formatted correctly.

[2022-04-29 23:35] MilesLitteral commented on #133
For sure! My bad I was writing this on my phone

[2022-04-29 23:46] fjvallarino commented on #133
Could you paste the complete source code? If you have a repository, pasting the link is also good. I think there are a few missing pieces, and I can't fully understand what could be causing your problem.

In general, I would avoid storing nodes in the model and only keep the information that represents them (album name, image path, etc.). Then, in buildUI, you can use the model to create the neces

[2022-04-30 03:27] MilesLitteral commented on #133
I see so instead have the paths be stored in the model and have some other mechanism to create image elements for the amount of FilePaths, thank you this provides me a lot of insight; I can fix it from here I believe 😁

[2022-04-30 03:51] fjvallarino commented on #133
I think what you want to do is similar to what the [Todo](https://github.com/fjvallarino/monomer/blob/main/docs/examples/01-todo.md) example does. Not so much the editing part, but the list that is displayed. For example, you can:

- Have an `Album` type and a list of `albums` in your `AppModel`
- Load this list of albums from the filesystem during the Init event; I usually start with hardcoded da

[2022-04-30 20:58] fjvallarino commented on #130
After testing on Windows, Linux, and macOS, these changes have been merged to main. A new release, 1.4.0.0, has been created today including these changes.

I'll close the issue now. Please re-open or create a new one if you think something is missing. Thanks!

[2022-04-30 20:58] #130 closed

[2022-04-30 21:05] fjvallarino commented on #72
The improvements to DPI detection and opt-out flag have been merged into main.

There have also been improvements regarding the _"Unable to make GL context current"_ issue. It should no longer be necessary to include `appRenderOnMainThread` as part of the application's configuration; the library will now try to fall back if an error occurs (and it will not attempt to set up threaded rendering if -

[2022-04-30 21:05] #72 closed

[2022-05-01 13:42] fjvallarino commented on #133
I think this issue can be closed. Please re-open or create a new one if needed. Thanks!

[2022-05-01 13:42] #133 closed

[2022-05-06 10:22] MuhammedZakir opened #136 "Issue with scrollbars and horizontal scrolling"
1. Horizontal scrolling using `shift + mouse wheel` is not supported?
2. Scrolling *when hovering* over a scrollbar should scroll that one. Currently, vertical scrollbar is scrolled even if horizontal one is hovered.

Edit: FYI, I only used this on Linux.

---

Thanks for this library. It's really nice. Especially how easy using this is; not something usually focused on, so really appreciate this.

[2022-05-07 04:05] fjvallarino commented on #136
Hi @MuhammedZakir!

I had not noticed `shift + mouse wheel` was supported cross-platform; I added it now. You can test it by modifying your `stack.yaml` file to point to:

[code]

This commit hash will no longer be valid once the PR is merged to main; I'll update the issue then.

Regarding the second point, scrolling based on the hovered scrollbar, I have not found it to be the standard behavior.

[2022-05-07 06:40] MuhammedZakir commented on #136
Hello! :-)

It's working. Thanks for the quick fix.

I hadn't used Windows and macOS for sometime now. But I remember doing that. I'll report back after testing.

Regarding Linux: I am using Manjaro XFCE. I have tested this in a browser (Luakit), GParted, Inkscape and XFCE Task Manager. I think I have seen the same behavior in KDE. But like the other OSes, I haven't used it for a while, so I don't

[2022-05-07 07:39] MuhammedZakir opened #139 "Problems in the doc (probably trivial)"
1. From https://github.com/fjvallarino/monomer/issues/136#issuecomment-1120147291:

2. **Not Found**: https://hackage.haskell.org/package/monomer-1.4.0.0/docs/Accept.html
    - mentioned - e.g. https://hackage.haskell.org/package/monomer-1.4.0.0/docs/Monomer-Widgets-Singles-Button.html#g:2

[2022-05-07 09:42] MuhammedZakir opened #140 "Why is there no alignment config option for stack?"
Currently, we can do it in (at least) 2 ways:
[code]
OR
[code]

But it would be nice if we can do:
[code]

I guess implementing vertical alignment for `hstack` and horizontal alignment for `vstack` would be easier? As it is kind of like adding a `filler` on both sides.

For `zstack`, we will need both horizontal and vertical alignment. For example, to overlay a text over image and making them cent

[2022-05-07 10:28] MuhammedZakir opened #141 "[Bug] Changing cursor using `styleHover` for a button sets that cursor for all buttons"
Example:

[code]

Happens even if a different `onClick` event is used.

[2022-05-07 12:23] fjvallarino commented on #141
By default, buttons have a hand cursor on hover (defined in the base theme). Considering this, setting `cursorHand` does not cause an effect (both buttons already have it). You can try using `cursorInvalid`, or any of the other cursors, to validate it works as expected.

[2022-05-07 12:32] fjvallarino commented on #140
It does not have it by design. The idea is that each layout widget does a single thing and can be combined to create more complex layouts.

In the particular case of `hstack` and `vstack` widgets, they assign space based on what the child widgets request and only ask for as much space as needed to satisfy those requirements. Since they assign space based on what was requested, they don't have a co

[2022-05-07 12:42] fjvallarino commented on #136
One other issue regarding the hovered scrollbar is that SDL sends the same event for both wheel and trackpad movement (there is no way for discerning which of them happened). In my experience, trackpads always follow the direction of movement regardless of what is hovered. Considering this, implementing this behavior would be confusing for trackpad users.

---
Regarding the lens-related question,

[2022-05-07 12:55] fjvallarino commented on #139
Regarding point 1, I can't do anything at this point. The lenses are generated with `TemplateHaskell` by the `lens` library, and that extension has a limitation mentioned in [this issue](https://github.com/ekmett/lens/issues/614). Luckily, it seems it will be possible in the future when that GHC version becomes available in Hackage.

In general, I recommend checking the documentation of the target

[2022-05-07 15:07] fjvallarino commented on #136
The PR has been merged to main, so the previous commit hash is no longer valid. The new hash, which will not be removed, is this:

[code]

[2022-05-07 17:06] MuhammedZakir commented on #141
That is indeed the case. I don't know why I did that. Sorry for the noise.

[2022-05-07 17:06] #141 closed

[2022-05-07 17:18] MuhammedZakir commented on #136
FYI, when i tested this in Manjaro XFCE, it works just like mouse. That is, when I hover a horizontal scrollbar and do vertical swipe on trackpad, it scrolls the horizontal scrollbar.

Honestly, this is wierd we're getting totally different behavior (though not unexpected or surprising). I will test it on macOS and Windows soon. Can you mention some apps you used to test this?

[2022-05-07 17:34] fjvallarino commented on #136
I tried with the Preview app, Pixelmator, VS Code, and Chrome on macOS. On Windows with VS Code and Chrome; same on Ubuntu.

Testing horizontal scrolling with a visible scrollbar in a browser is tricky since most content nowadays is responsive. I tried, for example, with this Gist since it has a forced container width: https://github.com/phaazon/stack-haddock-upload/blob/master/stack-haddock-uploa

[2022-05-07 17:35] MuhammedZakir commented on #140
That make sense. I will just create some functions that wrap `stack` with `box`. That works for me. You could maybe add those as "utility" functions? However, you probably only need to care about this if the usecase is high or more users ask this.

---

Maybe it's because I am not _that_ familiar with this -- I was tripped by "if the box has extra free space". After thinking about it, I understood

[2022-05-07 18:31] MuhammedZakir commented on #136
I tested in Firefox and I am getting a different behavior, i.e. what you mentioned. So I guess this is not a cross-platform behavior. FWIW, it looks like almost all of the apps I tested use GTK (plausibly version 3).

Closing.

[2022-05-07 18:31] #136 closed

[2022-05-08 11:19] MuhammedZakir opened #143 "[Help] How to create a new window?"
I need to create a new window when a button in the window or menu[1] is clicked.

[1] Is menu not implemented? I couldn't find that in the doc.

[2022-05-08 11:22] MuhammedZakir commented on #139
3. **Not found**: https://hackage.haskell.org/package/monomer-1.4.0.0/docs/WidgetRequest.html.
    - mentioned: https://hackage.haskell.org/package/monomer-1.4.0.0/docs/Monomer-Core-WidgetTypes.html#t:WindowRequest

[2022-05-08 11:41] MuhammedZakir opened #144 "[Question] Is it possible to save the current view as an image?"
I have to print some stuff that's shown in the app. Having to use a different library to create an image for printing, not to mention fiddling with layout, it's not easy. At least, I don't know of a simple way to do that. As Monomer provides all the needed things for this, it would make things really easy to print custom-layout stuff.

Because Monomer is using SDL and I guess rendering to a screen

[2022-05-10 04:30] fjvallarino commented on #140
It depends on what kind of utility functions. If it is something that would be painful for users to add themselves, I think it belongs in the library. Otherwise, I avoid adding them for a few reasons:

- What is helpful for some people may not valuable for others.
- Discovering utility functions becomes harder as their number increases.
- Anything you expose from a library is problematic to change

[2022-05-10 04:39] MuhammedZakir commented on #140
Understood and agreed.

Regarding doc: feel free to ping me for proofreading. I will do what I can.

[2022-05-10 04:39] #140 closed

[2022-05-10 04:46] fjvallarino commented on #144
I think capturing the screen content should be possible, but I can't find anything confirming it (what I found only mentions SDL surfaces, not OpenGL ones). I'll take a deeper look and let you know.

Beyond this, it is possible to implement a custom `Renderer`, and I remember Cairo even allows saving to pdf. Of course, implementing this is a lot of effort.

[2022-05-10 05:39] fjvallarino commented on #143
Multi-window is not currently supported; I haven't thought about how to structure an application that uses it. Who receives the events? Are there multiple widget roots?

The library leans mostly toward single-window development. Partly because I'm biased toward that type of development since I worked for a long time in web and mobile, but mainly because the intention is to provide a core that work

[2022-05-10 06:15] MuhammedZakir commented on #144
A quick search gave some possible ways to convert OpenGL buffer to image. I don't know how many of them actually works though. I have also seen a similiar option in Tecgraf's IM library [1].

[1] https://www.tecgraf.puc-rio.br/im/en/guide.html#opengl

[2022-05-10 06:40] MuhammedZakir commented on #143
Something like:

- a window is a special widget which can contain everything but itself.
- only one window in an application can have focus at a time.
- the windows can communicate between each other using messages.
    - plausibly will need a scope, otherwise we will have to use a unique event ids. If the latter makes implementation easier, I am fine with it.
    - maybe use the main window (the

[2022-05-10 14:56] fjvallarino commented on #143
The main idea with `popup` is showing _temporary_ content, so notifications and alerts are a good fit, but windows may not work well.  The reason is popup is an overlay, and there is a maximum of one active overlay at a time (this will be explained better in the accompanying docs).

If you want to manage application windows that you can drag inside the main OS window, the best route is probably cr

[2022-05-10 15:00] fjvallarino commented on #139
Fixed in this PR: https://github.com/fjvallarino/monomer/pull/145.

This will be available in Hackage when the next version is released (it will take a few weeks). I interleaved new features between the commits containing Haddock fixes, and pushing an update now would show things not available in 1.4.0.0.

[2022-05-10 17:32] MuhammedZakir commented on #143
That does seem to solve my problem. I highly recommend to add this to the "recipes". These kind of stuff really helps to get started with this and to get an idea of the capilities.

---

About menu widget: I was hoping that this could integrate with OS and mimic rest of the apps. E.g. macOS menubar and underline a letter when `Alt` is pressed.

[2022-05-11 20:26] monawasensei opened #148 "Space leak when using image widget."
I believe this may be related to issue #14 and wanted to get your input.

I'm writing an image tagger using monomer and have noticed that I have a space leak that can get fairly sizeable after viewing a few hundred images in an image widget and I was wondering if you had any tips on mitigating this. I'm not an expert with memory management in Haskell so I'm not really sure where to start with this

[2022-05-12 02:42] fjvallarino commented on #148
Hi @monawasensei!

The issue was not related to needing more strictness but to image disposal/release logic errors. I pushed a branch that fixes those problems. To test it, you need to modify your `stack.yaml` to point to:

[code]

This commit hash will become invalid once I merge the PR to main; I'll update the issue then.

Please let me know if this improves the scenario you are testing. Thanks!

[2022-05-12 12:55] monawasensei commented on #148
Thank you very much! I'm not too familiar with stack but I will give it a try with this example and let you know.

[2022-05-12 13:43] monawasensei commented on #148
Perfect, thank you. I use Cabal but should probably make the switch to Stack anyways. I will give this a shot thanks!

[2022-05-12 13:51] monawasensei commented on #148
That change looks like it did the trick to me, not seeing the memory leak anymore after cycling through a hundred or so images.

[2022-05-12 14:09] monawasensei commented on #148
I appreciate your help and prompt fixes! Using your library has been a lot of fun for me. I think this issue could probably be closed, from my end at least.

[2022-05-12 16:59] fjvallarino commented on #143
I took a look at the issue of missing system menus, but it seems SDL2 does not have support for them.

There is a mention in [this issue](https://discourse.libsdl.org/t/support-for-system-style-menus/22082/4) about how they could be manually implemented, but I'm not going to pursue it for now.

[2022-05-14 15:36] MuhammedZakir opened #152 "Add an optional(?) caret to tooltip box"
The triangle thing that's show near the border of a tooltip box. This is just to improve visual aesthetic.

E.g. https://www.carbondesignsystem.com/components/tooltip/style

[2022-05-14 16:22] fjvallarino commented on #152
Sorry, I originally thought you were talking about the caret on a `textField` and later about the upper blue line in that page's menu (the highlighted one that says _"Style"_), which you can emulate using:

[code]

The tooltip style defined in the default themes has rounded corners and a thin border; those are reset by the options set in this example.

I think the triangular caret is specific to t

[2022-05-14 16:33] fjvallarino commented on #139
Since the fix is already in main, I'll close the issue.

Also, a new release has been pushed to Hackage, and the documentation should be ready at some point today (it takes a few hours)

[2022-05-14 16:33] #139 closed

[2022-05-14 16:41] fjvallarino commented on #143
Nothing is pending in this issue now, so I'll close it. Please re-open or create a new one if you think something is missing.

If SDL implements the menu functionality, or if I find a library that I can import into the existing structure and supports cross-platform system menu bars, I'll implement it.

[2022-05-14 16:41] #143 closed

[2022-05-15 05:03] #152 closed

[2022-05-15 06:05] srgtmshnk opened #153 "Bold text, elm-ui, empty node and attribute"
1. It seems like there is no way to make text bold. Is this something like design decision or what?
2. It would be nice to have empty node and empty attribute. In your examples, you are using ``nodeInvisible`` to conditionally render some node, and ``list comprehension`` to conditionally add some attribute. Don't you find it inconvenient to do so? With empty values we could have something like ``v

[2022-05-15 06:14] prolic opened #154 "Dropdown showing wrong data"
I have a dropdown declared like this:
[code]

Further there is a possibility to add more keys to `model.keys`. If a new entry is added, the dropdown gets longer, but the last element is duplicated in the UI, instead of being rendered correctly.

Using Debug.Trace proves the data in `model.keys` seems to be correct.

Start point (only one element):

[code]

The value `e382de876c9bb00f65eb4e61826154

[2022-05-15 06:17] prolic commented on #154
I replaced `(map (\k -> Just k) (model ^. keys))` with `(trace (show (map (\k -> Just k) (model ^. keys)))  (map (\k -> Just k) (model ^. keys)))` to get some debug output, the data seems to be correct, but the dropdown renders wrong content. The element itself seems to be correct though, the correct element is getting selected (using onChange), but the display text is wrong.

[2022-05-15 06:46] MuhammedZakir commented on #143
About multiple windows: is it that you won't implement it, or you haven't though about how to implement it? What you said above and the example you gave is (hopefully) enough for me to built he current app, but there are some apps you will *need* multiple windows. Especially if the client wants that, nothing I can do about that. This is the only thing I *actually* find missing.

I looked into `Con

[2022-05-15 06:51] MuhammedZakir opened #155 "[Build] When building monomer library, don't build executables by default"
IMHO, this feels unnecessary especially when building it as a dependency.

[2022-05-15 06:52] prolic commented on #154
I just updated to latest commit of yours (55ae7f88f1da80064fa3dc6ce6cfb4fce47e8e5a), the problem still persists. But as a side-node: the app's UI changed. Height of the app is significantly bigger, fonts also seem to be bigger.

[2022-05-15 06:56] prolic opened #156 "UI is scaling somehow"
I updated from 0e464c5bb67c11070410463fa184ca67f84d68db TO 55ae7f88f1da80064fa3dc6ce6cfb4fce47e8e5a

Everything is now about 1.5 times bigger, window size (height and width), fonts, buttons, etc. What happened?

[2022-05-15 06:59] prolic commented on #156
maybe that's intended and related to this commit 1ab5971befc319a4df398a34969cf78e95fff55c ?

[2022-05-15 12:53] srgtmshnk commented on #156
Had the same issue on linux (not sure why it happened, maybe because i use xmonad), try **appDisableAutoScale True**

[2022-05-15 13:24] fjvallarino commented on #153
Hi @srgtmshnk!

1. It is indeed possible to use bold text or any TTF font (as long as `stb_truetype` or `FreeType` support it). Take a look at the tutorials or examples. You need to [declare the fonts](https://github.com/fjvallarino/monomer/blob/main/examples/tutorial/Tutorial02_Styling.hs#L111) you want to use, and then indicate [where you want to use them](https://github.com/fjvallarino/monomer/

[2022-05-15 13:38] srgtmshnk commented on #153
Links to what? elm-ui or places where you conditionally use nodes and attributes ?

[2022-05-15 13:40] fjvallarino commented on #156
Which OS are you using? What's your screen resolution? I assume it's Linux.

This was discussed [here](https://github.com/fjvallarino/monomer/issues/72), but I may look into it again. The problem is that SDL's DPI detection on Linux does not seem to work reliably, affecting automatic scaling. There are two options:

- Try to figure out what the DPI is. This is crazy hard on Linux since there are w

[2022-05-15 13:43] fjvallarino commented on #154
Do you have a complete example I can use for testing? If it is a single file, you can paste it here. You can format it with Haskell colors if you use:

[code]

[2022-05-15 14:00] fjvallarino commented on #143
It's a problem of time. Do I want to support multiple windows? Sure, absolutely. But it's not a priority for me now, and it will be long before I can look into it. I feel that if I keep an open issue around, it will give a false impression that I will work on it shortly; I think answering the question each time it arises is clearer, but probably I'm wrong.

My current objectives are improving what

[2022-05-15 14:02] fjvallarino commented on #153
Yes, a link to an example of that feature you mentioned could be used instead of list comprehensions or node visibility.

[2022-05-15 14:30] srgtmshnk commented on #153
viewIf: https://package.elm-lang.org/packages/elm-community/html-extra/latest/Html-Extra#viewIf
viewMaybe: https://package.elm-lang.org/packages/elm-community/html-extra/latest/Html-Extra#viewMaybe
attributeIf: https://package.elm-lang.org/packages/elm-community/html-extra/latest/Html-Attributes-Extra#attributeIf
attributeMaybe: https://package.elm-lang.org/packages/elm-community/html-extra/latest

[2022-05-15 14:53] fjvallarino commented on #153
Those functions look really handy! I'll add something similar; thanks for the pointer.

For nodes, the helpers can return a non-visible `spacer`. In the case of styling options, they all implement `Default`, whose value does not have an effect when combined with other attributes.

Regarding `elm-ui` is there anything specific I should look into? The configuration looks similar to what Monomer does

[2022-05-15 15:32] srgtmshnk commented on #153
Well, they are really similar, so i think the most interesting parts are

**fillPortion:** https://package.elm-lang.org/packages/mdgriffith/elm-ui/latest/Element#fillPortion

**layout debugging:** https://package.elm-lang.org/packages/mdgriffith/elm-ui/latest/Element#explain

## and maybe

**paragraph:** https://package.elm-lang.org/packages/mdgriffith/elm-ui/latest/Element#paragraph
**textColumn:

[2022-05-15 15:43] MuhammedZakir commented on #143
Understood. When I asked this, I was hoping this wouldn't be hard to implement by implementing them as/like composite widgets and because SDL already supports multiple windows. I guess I simplified it too much.

[2022-05-15 20:13] prolic commented on #154
try this:

[code]

Just hit the "Add" button a few times and see what's in the dropdown

[2022-05-15 20:18] prolic commented on #156
Well I have a 4k monitor and am running Linux with scaling of 200%. So maybe that's the expected behavior when scaling didn't work before, not sure.

[2022-05-16 00:59] prolic commented on #154
Somehow related:

I continued some work on the project today and updated the function `currentKeysNode` (aka `currentFieldNode` in the example above) like this:

[code]

profileName function:

[code]

Dropdown is defined like this:

[code]

As you can see, currentKeysNode is used twice, for the header as well as the list.

Now look at the output:

![Screenshot_20220515_205741](https://user-images.

[2022-05-17 03:40] fjvallarino commented on #154
There was a bug in `selectList` (which is used by `dropdown`) that would ignore `WidgetRequest`s made by child widgets.

The `label` widget recalculates its text glyphs during `resize`, and since its `WidgetResize` request was being ignored, the label showed stale glyphs. You can check that the data was still correct by resizing the window; that would cause all widgets to resize, and labels would

[2022-05-17 05:07] prolic commented on #154
No actually it makes it worse.

[2022-05-17 05:08] prolic commented on #154
It now shows the same values for all select-able options.

[2022-05-17 05:10] prolic commented on #156
I tried `appDisableAutoScale True` and this makes it actually way smaller. So I guess the scaling did work correctly before and now it's not anymore.

[2022-05-17 05:14] prolic commented on #154
Ok I take this back, that is shows same values is a problem in my side, I reverted my latest commit and this is no more. But it still shows the fallback only in the dropdown, while it renders the correct value in the header.

[2022-05-17 12:59] fjvallarino commented on #154
I tested with [your example](https://github.com/fjvallarino/monomer/issues/154#issuecomment-1127017666). If I add 3/4 items and open the dropdown with the new version, the values it shows are correct. If I revert to the previous version, it shows incorrect labels.

Could you test with the example you provided initially? It's hard to validate when we're testing different versions since unrelated th

[2022-05-17 14:12] prolic commented on #156
Thanks for the insights.

[2022-05-17 21:41] prolic commented on #154
I just received this upon `stack run`:
[code]

[2022-05-17 21:43] fjvallarino commented on #154
Nothing changed related to GL context handling in the last several commits, particularly compared to the version you were using previously. That looks like an issue on your machine.

[2022-05-17 21:46] prolic commented on #154
Restart the computer solved it.

I can confirm that the example I provided is fixed now. However it's not for my project. Trying to get more information.

[2022-05-17 21:47] fjvallarino commented on #154
If you can share it somehow, I can take a look.

[2022-05-17 21:48] prolic commented on #154
Sure if you have the time. You'd need however a bit more than "only" haskell, you also would need to compile a C lib from source.

[2022-05-17 21:52] fjvallarino commented on #154
If you think the library is necessary, I can try to build it in a Linux VM.

If you think that library is not essential for the issue we're investigating, and replacing that invocation with some mock would be good enough, it would be better since it's easier for me to test it

[2022-05-17 21:53] prolic commented on #154
Step 1:

[code]

Step 2:

[code]

In the top right corner you can add new keys, with the edit button you can set a profile name. Try switching between profiles and adding new ones.

I also attached a screen recording.

https://user-images.githubusercontent.com/394428/168916268-7427f93a-2eea-44ab-9140-f23dd319ad2e.mp4

[2022-05-17 21:54] prolic commented on #154
I do totally understand if you don't have the time to look into my mess, let me know and I try to provide another example, would take me a while though.

[2022-05-17 22:59] fjvallarino commented on #154
I think the problem is caused because the data you store as the list of keys does not really change; what changes is the name you retrieve from those keys. The `selectList` widget, used internally by `dropdown`, does not refresh its content if the items you provide have not changed. Since
[code]
did not change, it does not call your function for regenerating the internal nodes.

There are two opti

[2022-05-17 23:08] prolic commented on #154
That's something I am working on at the moment.

That's awesome, however I am about to refactor the keys to this:

[code]

I might just add the profile name here.

Really? I hate it, but UI improvements are not my highest priority at the moment, I am working on profile and followers at the moment.

[2022-05-18 00:08] fjvallarino commented on #154
Nice!

The problem is indeed caused by the data not changing; once you add the name to your `Keys` type, it should work fine.

---

I exported `mergeRequired` from `dropdown` as part of the PR, although you should not need it in this case.

[2022-05-18 00:14] prolic commented on #154
Thank you very much. I'll keep you posted once I'm done with the changes.

[2022-05-19 04:40] prolic commented on #154
Yes! Works like a charm. Thank you very much.

[2022-05-23 19:17] WeetHet opened #159 "Cannot build with ghc-9.2.2"
I'm currently trying to compile starter project on macOS 12.3, arm64. The following output of ```cabal build```
 appears ([log.txt](https://github.com/fjvallarino/monomer/files/8757522/log.txt) attached):

[code]

[2022-05-23 19:18] WeetHet commented on #159
[log.txt](https://github.com/fjvallarino/monomer/files/8757522/log.txt)

[2022-05-24 13:24] WeetHet opened #160 "Consider using pkgconfig-depends when possible"
On systems where GLEW is not present in default folders (```/usr/lib```, etc), extra-libraries cannot find it, so you should better consider using ```pkgconfig-depends: glew```, ```when pkg-config``` is present in system path

[2022-05-27 04:38] prolic opened #161 "Selectable Labels"
In the comment here https://github.com/fjvallarino/monomer/issues/115#issuecomment-1095928513 it was suggested to use `textFieldD_` to emulate this:

[code]

However there are some serious limitiations: The content that should be displayed comes from user-data and might be longer.
Therefore I need support for something like `multiline` and `ellipsis`, but those are only available for label, not fo

[2022-05-27 04:43] prolic commented on #161
On another note: line breaks (probably "\n" ?) coming from a textArea are displayed like this in textFieldD_:

![Screenshot_20220527_004215](https://user-images.githubusercontent.com/394428/170630515-0107e7bf-dbb3-4c9c-9117-1c90adb28571.png)

[2022-05-28 19:45] fjvallarino commented on #154
This has just been merged to main. I'll close the issue. Thanks for reporting!

[2022-05-28 19:45] #154 closed

[2022-05-28 19:50] fjvallarino commented on #160
Do you have an example of how that would work? It can be a link to another project. I mainly wonder if a `pkg-config` flag exists that can be checked.

[2022-05-28 19:56] fjvallarino commented on #161
You can use `textAreaD_` instead, and it would provide most of what you are expecting. I most likely meant to use that widget instead of `textField`.

There is no support for ellipsis when using `textArea`. Although it could be added, I wonder if it is really needed. The `textArea` widget already includes a `scroll` widget, and the content will not be cut.

The weird newline characters in `textFie

[2022-05-28 21:13] prolic commented on #161
I tried using `textAreaD_`, my main problem with it is, that it doesn't break the text. I don't want to have that horizontal scrollbar.

[2022-05-29 07:15] WeetHet commented on #160
For cabal it’s `pkgconfig-depends`, as described
here: https://cabal.readthedocs.io/en/3.4/cabal-package.html

I guess, there is a similar option for stack, but I don’t use it

[2022-05-30 16:47] fjvallarino commented on #144
Here's a possible solution.

I won't be including this as part of the library for the moment since it's too tied to OpenGL, and it's most likely a source of compatibility issues. I will add it to _Recipes_ whenever I get around to creating that section.

Starting from the `monomer-starter` project, you need to add/replace these files:

---

`package.yaml`

[code]

---

`Main.hs`

[code]

---

`Ima

[2022-05-30 18:11] MuhammedZakir commented on #144
Thanks a lot for looking into this! I really appreciate it! :-)

---

I am getting this error when running:

[code]

`stack.yaml`:
[code]

[2022-05-30 18:15] fjvallarino commented on #144
I'm using `lts-18.27`; I haven't had time to upgrade to a newer LTS yet.

When I tried updating to a nightly, I got a bunch of version errors and gave up. I'll wait until a stable LTS for GHC 9.2.2 comes out.

[2022-05-30 18:18] fjvallarino commented on #144
Extra note: I'm not using that `SDL.Video.loadBMP` function. Is it possible that it's because of the SDL binary version you have installed?

[2022-05-30 18:45] MuhammedZakir commented on #144
I will try this.

The `sdl2` package in `lts-18.27` mentions `2.0.6+` as supported version.
The installed version is `2.0.22`.

Which version do you use?

---

Maybe you could create a `monomer-contrib` repo (similiar to XMonad's `contrib` + `extra`)? This could also be used for widgets built upon widgets in this repo which won't be included here, but are useful nonetheless.

[2022-05-30 19:02] MuhammedZakir commented on #144
Using `lts-18.27` didn't work. Getting same error. I guess this has to do with SDL version.

[2022-05-30 19:14] fjvallarino commented on #144
I'm wondering if it's because of this:

[code]

If you don't have that file, you may need to remove the line.

[2022-05-30 19:35] MuhammedZakir commented on #144
You're right! Sorry! It's working now! :-)

Once again, thanks a lot! I am closing this as resolved. :-)

[2022-05-30 19:35] #144 closed

[2022-05-30 21:09] fjvallarino commented on #159
The error should be fixed by this PR: https://github.com/fjvallarino/monomer/pull/162. To test it, you need to modify your `stack.yaml` to point to:

[code]

If you're using Cabal, it's probably `cabal.project`:

[code]

[2022-05-30 21:27] fjvallarino commented on #159
Note: the PR mentions an SDL2 issue that also happens only with GHC 9.2. You may run into the same problem, whose solution is currently using a specific SDL2 commit hash until a new version is released.

[2022-05-31 11:50] Clindbergh opened #163 "Building (polymorphic) tables/datagrids"
As part of [Zurihac 2022](https://zfoh.ch/zurihac2022/) I am considering to explore Monomer further and implement a basic table functionality. I am relatively new with Haskell, but I think there could be a number of interesting ways to explore this concept further. I hope to find some team members to work together on this concept.

**Ideas** (roughly ordered from basic to advanced)
1. Given an **a

[2022-06-01 09:29] Clindbergh commented on #163
Awesome, thanks for publishing! I have not yet been able to study it in-depth or running it, but it looks like a nice starting point. I am excited to try it. Definitely helpful for learning purposes.

Regarding the scollbar: I saw that Monomer already has some Support for it [https://github.com/fjvallarino/monomer/blob/80fa65831e19ec7a862cc905e404b208dfebff8d/src/Monomer/Widgets/Containers/Scroll.

[2022-06-01 20:47] monawasensei opened #164 ""About to destroyWindow" to stderr"
This is a minor thing but I was just curious.
Given that the text when starting a monomer application is printed to stderr, why is the text on closing a monomer application printed to stdout?
I see that it's set in Monomer.Main.Platform.destroySDLWindow.
Would you have any objections to a PR changing it to stderr?

[2022-06-02 01:49] MilesLitteral opened #165 "Pull Request?"
Hi Vallarino, I made a change to Monomer to help ease the use of OS specific dialogs (like choosing a file, folder, system message popups) while staying OS-agnostic in function.

Is there a standard for submitting pull requests to this project? Otherwise I can make a repo and open a PR if you are interested in the feature

[2022-06-10 22:09] prolic opened #167 "Tooltips won't easily go away"
See attached video to show the problem.

https://user-images.githubusercontent.com/394428/173157037-12bc1031-33be-43a5-a82a-3bdef564e6aa.mp4

[2022-06-11 20:06] Dretch opened #168 "Label widget does not resize when the style is changed (except for the text style)"
This seems like a bug to me, or at least surprising behaviour.

To reproduce:

1. Run `stack run` inside the attached modified-monomer-starter-project: [monomer-label-merge-bug.zip](https://github.com/fjvallarino/monomer/files/8884669/monomer-label-merge-bug.zip)
2. Click the "Increase count" button.
3. Observe the issue:
   - Expected behaviour: the "Hello World" label immediately increases in he

[2022-06-12 20:42] fjvallarino commented on #163
@Clindbergh sorry for the long delay, I've been dealing with personal issues, and I'm slowly resuming work on the library.

A data table would be really useful! It's one thing I always have in my mind regarding possible widgets to add but, at the same time, I always felt it should be an external project since data tables tend to have a large scope and be very opinionated.

The list you propose is

[2022-06-12 20:59] fjvallarino commented on #163
@Dretch I agree that the text layout functions need performance improvements. The code is pretty naive, and several things could be done to improve performance. I'll take a look in the next few weeks.

Regarding the virtual grid, it's something I have thought about and could be implemented as a custom container that is embedded inside a scroll and takes care of creating/dropping rows of widgets as

[2022-06-12 21:27] fjvallarino commented on #164
Hi @monawasensei!

The reason is that I did not pay attention to the fact that those messages were sent to different handles (that line is probably there since the very beginning of the project). I'm fine with changing it to `stderr` or even removing the line!

[2022-06-12 21:29] fjvallarino commented on #159
As mentioned in the previous comment, the fix has already been merged into main, so I'll close the issue. Please re-open if needed or create a new one. Thanks!

[2022-06-12 21:29] #159 closed

[2022-06-12 21:58] fjvallarino commented on #165
I @MilesLitteral!

I answered the PR.

The process you followed is correct: checking with an issue first, then submitting the PR. Unfortunately, I could not answer in time.

I think showing this as an example would be great since other users might be interested in using OS-specific dialog boxes. I'll add it to the recipes when it's available.

[2022-06-12 23:16] fjvallarino commented on #168
Hi @Dretch!

This should be fixed in the PR I just submitted. I tested locally and it seems to work as expected.

[2022-06-13 00:00] fjvallarino commented on #167
I pushed a PR with an improvement, but I can't completely replicate your scenario.

I created an example that:

- Has two layers managed with `zstack`.
- The bottom layer has a button that shows the top one (which is invisible initially), and the top one has a button that hides it again.
- The button on the bottom layer has a tooltip. When the tooltip is visible and the button is clicked, the tool

[2022-06-14 21:32] fjvallarino commented on #164
I just pushed a PR that removes the exit message and switches all log messages (diagnostics and errors) to stderr.

[2022-06-14 21:33] fjvallarino commented on #168
The PR has been merged to master; I'll close the PR now. Thanks for reporting!

[2022-06-14 21:34] #168 closed, assigned to nobody

[2022-06-16 00:04] prolic commented on #167
Your PR fixes the problem, thank you

[2022-06-16 00:04] #167 closed

[2022-06-16 00:12] prolic opened #173 "Delayed rendering leads to ugly UI"
I attached two video to demonstrate the problem.

The rounded corners `( styleBasic [ radius 4 ] )` are appearing, but very often it takes a second, which is kind of annoying. Not only tooltips are affected, but also buttons.

https://user-images.githubusercontent.com/394428/173962120-ba43ec9a-54c7-4c5c-afd8-84467e427a46.mp4

Here in the second video you can see the same quick flicker for buttons,

[2022-06-16 00:34] prolic opened #174 "glew missing"
Someone cloned my project and ran `stack run` - but still couldn't make it work. The error output is this:
[code]

Since I never ran into this before, maybe you have an idea what is missing?

[2022-06-16 00:40] fjvallarino commented on #174
They need to have it installed in their system. The way to install the library for each OS is shown [here](https://github.com/fjvallarino/monomer/blob/main/docs/tutorials/00-setup.md#libraries-sdl2-and-glew)

[2022-06-16 00:45] prolic commented on #174
Thanks, my bad then.

[2022-06-16 00:45] #174 closed

[2022-06-17 03:14] #164 closed

[2022-06-17 03:41] fjvallarino commented on #173
Do you have a minimal example I can use to reproduce the issue? I tried with the following (it's a modified version of Tutorial 02), but it looks good for me (tested on macOS and Ubuntu 21.04):

[code]

[2022-06-17 04:42] prolic commented on #173
Try to use this as widget within the main UI.

On Thu, Jun 16, 2022, 23:41 Francisco Vallarino ***@***.***>
wrote:

[2022-06-17 14:25] fjvallarino commented on #173
I'm not sure I follow. The example I pasted has a composite embedded in the main UI and a zstack to simulate what you show in the videos. If possible, could you modify the example and paste it here with your proposed changes?

[2022-06-17 18:49] prolic commented on #173
That's weird, I can reproduce the issue with your example. See attached video.

https://user-images.githubusercontent.com/394428/174376915-14b2fcd8-39e3-4f04-af43-7c64ff99926a.mp4

[2022-06-17 19:35] fjvallarino commented on #173
I assume that's Linux. What window manager are you using? I can create VM to test it in the next few days.

[2022-06-18 03:08] prolic commented on #173
Kubuntu 20.04
KDE Plasma 5.18.8
KDE Frameworks 5.68.0
Qt Version: 5.12.8

[2022-06-18 03:21] prolic opened #175 "Problems with disposing a widget"
Scenario:

I have a widget defined like this:

[code]

`handleHomeEvent` 's NoOp handler is defined like this (for testing): `NoOp -> []`

My console shows me this error: `("Failed match on Composite handleMessage",HomeEvent)`

Not sure what I am doing wrong here.

[2022-06-18 17:29] fjvallarino commented on #175
I just pushed a branch with a potential fix. The required updates to `stack.yaml` are:

[code]

[2022-06-18 17:30] #165 closed

[2022-06-18 23:03] prolic commented on #175
This fixes it, thank you very much.

[2022-06-18 23:03] #175 closed

[2022-06-18 23:12] prolic opened #177 "Limitations with Producer + Task"
Maybe there is something that I am missing, so please forgive me if this makes no sense or this library does it already, but I struggle with a problem.

Producers have the signature:
[code]

while Tasks have this signature:
[code]

I often have the case, that I just need to do `a -> IO ()` or `Maybe a -> IO ()`. But either way, I need to either append a `sendMsg` function as extra argument, that I

[2022-06-18 23:30] fjvallarino commented on #177
Hi!

There is not a constructor for that specific use case. The idea of `Task` is to run something in IO and provide a value back to the UI, so it makes sense that it requires a return value. `Producers` allow doing something similar, although they can return zero or infinite values; they are a generalization of `Task`.

I think the easiest way to handle this is using a helper function like:

[cod

[2022-06-19 02:56] prolic commented on #177
Thank you.

[2022-06-19 02:56] #177 closed

[2022-06-19 04:07] prolic opened #178 "Question regarding image rendering"
In my main application model, I have an property like this: `selectedKeys :: Keys` - whereas the `Keys` are only known, once the application gets booted (f.e. reading the keys file from disk). Of course I could make it Maybe Keys instead of providing some hard coded initial keys value, but I don't think that's the problem I have.

When the UI renders first time, I expect it to show a profile image

[2022-06-19 04:29] prolic opened #179 "Question regarding handling of incoming websocket data"
My scenario is this:

1. A websocket connection is created that constantly receives new data.
2. I have a few different widgets with its own model, that all need access to the same data that is coming from websockets.

Question:

1. Does it make sense to put websocket data away in a "Home Widget" to have the `Main` more clean? Or would event handlers get disposed as well, as soon as I go away and

[2022-06-19 17:07] fjvallarino commented on #178
It depends on how this is used. The main thing is making sure the model of the Composite that contains your buttons is updated. If `xo` is not somehow part of the model, you will have to use `mergeRequired` to account for it.

Could you point me to the location in your project where you use this?

[2022-06-19 18:26] fjvallarino commented on #179
I don't have hard answers for this. These are mostly design decisions, each with its pros and cons that you have to make on a per-project basis. What comes next is my opinion, and it's best if taken as just that, an opinion.

### Connection lifecycle

If the connection will be active during the complete application's lifetime, I would put it at the highest level possible. In most cases this is `Ma

[2022-06-20 01:16] prolic commented on #178
https://github.com/prolic/futr/blob/master/src/UI.hs#L99 here

[2022-06-20 01:31] prolic commented on #178
I just tried your suggestion and added this to the box:

[code]

However nothing changes, same weird behavior.

[2022-06-20 02:02] prolic commented on #179
I tend to like the "don't need composite" approach. I will give it a try. Thank you very much for the help and advice you give.

[2022-06-20 07:40] MuhammedZakir opened #180 "Issue with continuous window resizing."
When resizing a Monomer window, there is this wierd flickering. This doesn't happen if we try to resize quickly - e.g. using WM to snap the window to a side, or emulate that manually using mouse. It becomes worse when resizing slowly, especially if there is lots of small widgets (and padding?).

OS: Manjaro XFCE (X11)

[2022-06-20 16:47] fjvallarino commented on #180
I'm aware of a flickering issue, but it's not as bad as what your video shows. I thought the intense flickering I saw on Linux was caused by me using a VM, but maybe it's not the case. Here's a video of what I see on macOS.

https://user-images.githubusercontent.com/6565497/174647539-50feaffc-8978-434a-92c2-44ef78a05459.mov

I noticed differences in how SDL sends window resize messages between pla

[2022-06-20 16:49] fjvallarino commented on #179
Note: I updated the example in _"You may not always need Composite"_, to pass _cevt_ to _ handleChildEvt_ instead of _evt_ (it was a copy/paste error).

[2022-06-20 18:56] prolic commented on #179
Using this example

in Main-UI:

[code]

in Home:

[code]

I receive this error now:
[code]

Note that `FutrModel` in this case is a sub section of the main model that I want to use.

[2022-06-20 19:23] prolic commented on #179
`Passing curried arguments to widgets` - I do the same for some MVar or TChan.

[2022-06-20 20:41] prolic commented on #179
I tried to look into your other suggestion using a `compositeMergeModel`. Unfortunately there are not examples and I have no clue what to do with this option.

[2022-06-20 20:45] prolic commented on #179
Sorry for spamming... I tried this now in the Main UI:

[code]

which kind of works, but has some downsides. I cannot move this code out into it's on haskell module, as I would need to add a dependency to the Main Types, thus creating a circular dependency.

[2022-06-20 20:48] prolic commented on #179
I also tried `Passing curried arguments to widgets` by passing `FutrModel` + it's own widget model into the child widget. This doesn't work for me, as the UI would be depending on two different models.

[2022-06-20 21:41] prolic commented on #179
Sorry again, my problem was that I had put an `inputField` into the `FutrModel` which then was used to render some textarea object in the view and therefor my view was coupled with the wrong model. I moved it outside to the main, and now everythings works as suggested.
Using the `no composite needed approach`, rendering (besides the image rendering problem https://github.com/fjvallarino/monomer/is

[2022-06-20 22:29] fjvallarino commented on #179
Hi there! I'm not sure exactly where the issue with `inputField` was, but maybe what was missing was updating the lens you passed to the widget. If your Composite was using ChildModel, with a `userName` field:

[code]

And you moved ChildModel into MainModel (removing the Composite), you need to provide the full path to the field:

[code]
---

Regarding `mergeRequired`, you most likely need a sing

[2022-06-20 23:08] fjvallarino commented on #178
I tried running the application but I get this:

<img width="801" alt="image" src="https://user-images.githubusercontent.com/6565497/174687347-69965353-0ca6-42be-8ab5-7c0a89351e16.png">

Is there any way I can force it to start? Maybe by faking the content of the keys file?

[2022-06-20 23:18] prolic commented on #178
Ah sorry, no it expects a localhost relay server. I just pushed a code change to master that enables one that is production, so you don't need to setup anything.

[2022-06-20 23:22] prolic commented on #179
Thanks again.

[2022-06-20 23:22] #179 closed

[2022-06-20 23:50] fjvallarino commented on #178
How should I test this?

- I created an account and posted something.
- Restarted the application, but profile information was not loaded so I input it again.
- Pasted an image link, loaded it and then saved it.
- The image in the right-most button (Edit Account) was updated correctly.
- The image in the previously created post was not updated.

Should the image in the post be updated too?

---
I

[2022-06-21 03:04] prolic commented on #178
I did some refactoring and the problem is gone. Probably some seemingly unrelated bug in how the model received updates. No further investigation is needed.
Thank you very much for your support.

[2022-06-23 22:46] MilesLitteral opened #182 "Question: Cuda/Futhark (GPU) image manipulation functions in Monomer, Best Practices"
I'm trying to use Cuda/Futhark image manipulation functions in a Monomer App.

Normally I do this by keeping everything in the same Monad that holds the cuda context as part of it's state but in monomer I can only execute a Task on IO asynchronously.

What is the best design pattern for a monomer program that needs to access a cuda context?

Unfortunately, the obvious answer of creating new contex

[2022-06-24 19:39] MilesLitteral commented on #182
UPDATE: I was able to answer my own question with some trial and error, I ended up creating some new recordkeepers used as handlers and holding the "GPU context" in a lens (held by app model) which maintains an MVar (Chan GPUCommands).

Thanks again and very much willing to elaborate if you'd like to write tutorials or a cookbook about using GPU Accelerated Code (CUDA, etc) in Monomer

[2022-06-25 04:24] MuhammedZakir commented on #182
This may not be idiomatic, but when you have something that you initiliaze at the start and then use that for the entire app lifetime, I find a module-level global variable using `IORef` much better. The module will only export `initialize` and `run` functions essentially making the global var *private*. Of course, in case where you have a lot of env data to pass around, what you did maybe better

[2022-06-25 15:31] fjvallarino commented on #182
Hi @MilesLitteral!

I think putting that information in the model is perfectly fine. Alternatively, when I don't want to put that kind of information in the model (mainly because it makes it hard to have the required `Eq` instance), I create some sort of `Env` type that I pass as the first parameter to `handleEvent` and `buildUI`. For example:

[code]

[2022-06-25 17:37] prolic opened #183 "Add shared model"
Since this library is based on the ideas of the Elm Architecture, I wonder if it makes sense to also add a shared model. See https://www.elm-spa.dev/guide/05-shared-state.

The idea is, that a lot of widgets have its own model, but also need to consume / produce data for a shared model, that all widgets have access to. This might be a BC, not sure if this can be done without affecting changes furt

[2022-06-25 18:10] prolic opened #184 "Question regarding composite widgets and UI split by only using functions"
Within `Main` I have a UI that renders the `HomeView`, which is the default view that you see once you open the app and have an account. Its function is defined as follows:
`homeUI :: AppWenv -> AppModel -> WidgetNode AppModel AppEvent`
Within this `homeUI` I will render a bunch of posts, this again is not a composite, but a normal function, defined as follows:
[code]
On initial startup, the app w

[2022-06-25 20:26] fjvallarino commented on #184
Hi @prolic!

Something similar happens in the Ticker example, where multiple ticker updates can come within milliseconds between each other. Doing a model update for each of them means merging the complete widget tree every time, which can become expensive quickly.

The solution applied in that example is grouping messages in fixed chunks of time and is discussed [here](https://github.com/fjvallar

[2022-06-25 21:09] fjvallarino commented on #183
I don't think this is part of the standard Elm Architecture; it's an elm-spa feature to handle data sharing between routes (one possible solution to that need).

I prefer to restrict access to data in a hierarchical way. If a widget needs a piece of data, some of its ancestors should have that data as part of its model and pass it down. If all the widgets need this data, it should be in the top-le

[2022-06-26 00:48] prolic commented on #183
I see, thanks.

[2022-06-26 00:48] #183 closed

[2022-06-26 03:15] fjvallarino commented on #153
I just pushed a new branch that adds a few helpers in the same style as the ones you proposed: `widgetIf`, `widgetMaybe`, `styleIf`, `styleMaybe`, `configIf`, and `configMaybe`.

Regarding `fillPortion`, you can emulate that behavior using `expandWidth` and `expandHeight`. Child widgets will be assigned as much space as available, proportionally to the requested size, when using these functions. F

[2022-06-27 19:16] prolic commented on #184
Handling incoming data in batches indeed solves my issues. Thanks for the help.

[2022-06-28 17:03] ShrykeWindgrace opened #187 "Running monomer-based executables on windows"
Hi!

Thanks for the great lib, I am looking forward to using it. I especially appreciated setup instructions for windows, they work like a charm.

I tried building your examples (`stack build`), and when I run them via `stack exec -- todo`, I get a separate app window; however, if I run them *without* `stack` - by installing them via `stack install` or by the absolute path inside `.stack-work`, no

[2022-06-28 17:16] ShrykeWindgrace commented on #187
I pulled the latest commit (`51ce06f613eeb5a7e1172ae1a17cf099e053c9cb`), now after a `stack exec -- todo` I get a following modal window:
![image](https://user-images.githubusercontent.com/6421233/176243326-82153935-dc60-4550-8bfd-e6447caf4c42.png)

[2022-06-28 19:38] Dretch opened #188 "Probable bug: the ScrollTo message sometimes scrolls to the wrong place"
It seems like the target scroll rect is offset by the position of the scroll widget.

To reproduce:

1. Run `stack run` in this project: [monomer-scroll-bug.zip](https://github.com/fjvallarino/monomer/files/9004244/monomer-scroll-bug.zip)
2. Play with the buttons. Notice that the "Scroll to bottom" button scrolls to a slightly incorrect position.
3. Edit the source code to remove the "spacer" labe

[2022-06-28 23:45] fjvallarino commented on #187
Hi @ShrykeWindgrace!

I think the problem is caused by missing .dlls. The setup procedure installs the libraries inside Stack's MingW copy. When you try to run the application outside its sandbox, the application can't find the .dll files. You can use the installer provided by each library (download them from their corresponding sites), but copying the ones from MingW's directory should work too.

[2022-06-29 21:41] fjvallarino commented on #188
Hi @Dretch!

The location `ScrollTo` expects is absolute, so the x and y coordinates of the child widget need to be considered. You can get those coordinates using `nodeInfoFromKey` if the child widget has a key assigned, or you can listen for `onChange` in `scroll` that provides that information (and more) in the `ScrollStatus` type.

This behavior is probably confusing. Maybe adding a `ScrollToR

[2022-06-29 21:50] fjvallarino commented on #182
I'll close the issue. In case you feel something is missing, please re-open it or create a new one. Thanks!

[2022-06-29 21:50] #182 closed

[2022-07-02 14:35] fjvallarino commented on #188
The `selectList` widget does something similar to what you mention, providing functionality for showing the currently selected item (this is used by `dropdown` to scroll to the current value when its list is shown). If the widget you want to scroll to is your children, you already have their viewport information available without needing to retrieve other data by accessing `node ^. L.children`.

Y

[2022-07-09 01:09] prolic opened #192 "Nix build - SDLCallFailed"
I can successfully build the monomer project using `nix build`. However the resulting binaries have some problems:
[code]

[2022-07-09 01:30] fjvallarino commented on #192
Hi @prolic!

I don't know much about Nix, so I'm probably not the best person to help here (although it's high on my list of things to learn). Looking at a [comment](https://github.com/fjvallarino/monomer/issues/12#issuecomment-902242171) made by @smunix (the contributor of the Nix and GitHub Actions configuration), it seems you should run the applications with a different command:

[code]
I remem

[2022-07-09 01:31] fjvallarino commented on #188
Nice! I'll close the issue, then.

I'll add a note in `scroll`'s documentation.

Thanks!

[2022-07-09 01:31] #188 closed, assigned to nobody

[2022-07-09 02:20] prolic commented on #192
Doesn't seem to work either. Feel free to close this issue if you want to. I'm just struggling myself for over a week to setup nix for my project.

[2022-07-09 02:27] fjvallarino commented on #192
I think you may need [nixGL](https://github.com/guibou/nixGL). I remember having to use that. It was also mentioned in [this PR](https://github.com/fjvallarino/monomer/pull/13#issuecomment-902529723)

[2022-07-10 09:15] klausweiss opened #193 "Programmatically controlling TextArea content"
Hey. I'm looking into controlling the TextArea widget programmatically. Think, Markdown-aware widget that wraps selected `text` with asterisks when Ctrl-b is pressed: `**text**`, etc..

I saw there was no way to do this right now. Would you consider exposing interaction with the widget to programmers?

[2022-07-10 14:44] fjvallarino commented on #180
@Dretch nice find! The `windowWatchResize` is there because of how SDL handles events, but maybe for X11 it isn't needed?

In summary, window size change events will not reach the application loop until the user stops dragging the window, and rendering will not happen because `pollEvents` blocks until an event is received. Adding an event watcher allows receiving those events right when they happe

[2022-07-10 15:01] fjvallarino commented on #193
Hi @klausweiss!

How do you envision it could work? I'm thinking about two possibilities:

### Events

- Provide an event generated by `textArea` that reports when the user changes a selection (similar to `onChange`, but with more information). This will give you the context regarding where the action should be performed.
- Provide a message that can be sent to textArea with the new text to replac

[2022-07-10 16:12] MuhammedZakir commented on #193
Actually, ability to get the current cursor location would make enable doing similiar things to an extent. For instance, instead of selecting text -> `ctrl+b` -> wrap them with `**`, with the cursor location, put the cusor on/inside a word -> `ctrl+b` -> wrap the word the cursor is on with `**`.

If we want, the cursor location can also be used for info about current selection if the location info

[2022-07-10 16:54] fjvallarino commented on #193
Sure, absolutely. The status event would provide cursor information even if there's no selection (that's how textArea works internally). It could also provide the already split text lines and their corresponding glyphs. The _"replace"_ message would also act as an insertion mechanism if a selection does not exist, etc.

What happens with those events is something that the user of the widget will i

[2022-07-10 17:09] klausweiss commented on #193
I only have this much experience with monomer, but out of the two solutions you proposed, I found the events-based one more idiomatic.

How about
- an event generated by textArea that reports current cursor state, as you both suggested,
- and a separate event that you can send to a textArea instance (through [Message](https://hackage.haskell.org/package/monomer-1.4.1.0/docs/Monomer-Widgets-Composi

[2022-07-10 23:55] fjvallarino commented on #180
@Dretch if not starting the watcher fixes the issue on X11, maybe adding a check for the current platform would be enough; this way we can avoid launching it if the OS is Linux. I assume the same happens in Wayland; I can test later in a VM.

The watcher and the rendering thread are definitely required for Windows and macOS, otherwise content stretching happens when resizing the window.

[2022-07-11 01:21] fjvallarino commented on #192
Just to be sure: have you checked [nixGL](https://github.com/guibou/nixGL)? The error you're getting can probably be fixed by using it.

[2022-07-11 03:33] fjvallarino commented on #180
In case it's useful, some time ago I created a small project to document the adopted solution: https://github.com/fjvallarino/sdl-continuous-resize

[2022-07-11 20:24] klausweiss commented on #193
I just thought of yet another way, which would allow for easy expansion in the future. It's a simple solution, like the others proposed in this thread.

We could have textArea operate on a different type of lens. Instead of just `Text`, it could be a more complex structure that comprises of both `Text` and the selection information. For ease of use there could be a separate constructor with a simp

[2022-07-12 06:07] MuhammedZakir commented on #193
I have thought a similiar one - as in a general solution, but was doubting whether it would be overkill. My idea is to do what modern editors and related tools do for reporting changes:

- An enhanced version of `onChange` that would report each new change.
- Text would be stored in `[Text]` (a list of lines -- split at newline chars).
    - "list" is meant to be figurative, it could also be in, f

[2022-07-13 08:59] MuhammedZakir commented on #193
I understand. I suggested it becuase you said that the widget already keep a list of lines, and you don't mind exposing cursor state. With both of them, it looks like it is possible to send events for each new change with some work. You can simply limit the change-events to insert and delete, and leave the rest of the processing to user (of this library).

[2022-07-13 12:32] fjvallarino commented on #193
@MuhammedZakir also sorry I was not clear. I do intend to support the events/messages you mentioned; they are mainly possible with what already exists, or the required changes do not take a lot of effort.

What I meant is that I prefer not going much beyond that in terms of functionality because a text editor is a complex piece of code, with a huge list of features that users may want to have. Sup

[2022-07-15 23:37] fjvallarino commented on #180
@Dretch @MuhammedZakir I just pushed a branch that disables the event watcher in Linux. I tested it in Ubuntu, and it works well (using Wayland at least). If you have a chance, could you try it on your system? If it also works well on X11, this could be merged to main.

The required changes to `stack.yaml` are:

[code]

Thanks!

[2022-07-17 00:01] fjvallarino commented on #180
@Dretch thanks to you for figuring out what the issue was!

[2022-07-18 04:31] prolic opened #195 "How to create statically linked binaries?"
I tried this in my stack.yaml:

[code]

[code]

However I run into problems, see https://pastebin.com/pTq6SeSz

Any suggestions?

[2022-07-18 12:50] fjvallarino commented on #192
I'll close this issue for now. Please re-open if needed. Thanks!

[2022-07-18 12:50] #192 closed

[2022-07-19 13:50] MuhammedZakir commented on #180
Sorry for the late response. It's fixed. Thank you! :-)

There is still small flickering in some parts of the window. I tested this with "tutorial 6",
- resize vertically: flickering happens
- resize horizontally: no flickering
- click "show dialog":
    - resize vertically: no flickering in the composite window, but you can see some flickering underneath/above it.
    - resize horizontally: no fl

[2022-07-20 03:03] prolic commented on #195
Okay, I managed to get something done using `AppImage`. Will try to create some binaries for windows next.
I may write a blog post once I have everything together.

[2022-07-20 03:03] #195 closed

[2022-07-21 21:29] klausweiss opened #196 "Misunderstanding compositeMergeModel"
Hi. I am struggling with a custom `compositeMergeModel` handler. I am providing a custom handler and whenever it is called, old and new models are the same. Under what conditions do the old and new models differ?

Minimal example provided below. A simple app that appends a label widget to the rest whenever `C-n` is pressed.

<details>

[code]
</details>

The custom merge handler is instructed to l

[2022-07-24 16:49] fjvallarino commented on #196
Hi @klausweiss!

This is something that lacks good documentation, and it needs to be part of the tutorials. Documentation improvements are next on the list of things to do after merging the `popup` PR and the `colorPopup` PR (which has not yet been submitted).

The use case for `compositeMergeModel` is when your composite needs to have a model different from the one the composite's user provides.

[2022-07-24 20:44] klausweiss commented on #196
Wow, that was excellent and very comprehensive. Thank you!

In your example it should have been the following, no?
[code]

[2022-07-24 22:01] fjvallarino commented on #196
Yes, that's the case! I've updated the comment, to avoid confusion.

[2022-07-24 22:04] fjvallarino commented on #196
In fact, there was another error. The content of `model` was meant to be wrapped by `WidgetValue`.

[2022-07-25 02:39] fjvallarino commented on #195
Awesome!

Could you share your blog post when you publish it? Thanks!

[2022-07-25 19:47] klausweiss commented on #196
Perfect. Everything's clear for me, closing. Thanks again!

[2022-07-25 19:47] #196 closed

[2022-08-01 15:55] ezoerner opened #197 "Unable to build"
Thought I'd try monomer out and build the examples, but I'm getting a build failure using `stack build`:

[code]

Is there something wrong with my environment?

Using Stack 2.7.5

Installed with brew on macOS:
sdl2: stable 2.0.22 (bottled), HEAD
glew: stable 2.2.0 (bottled), HEAD

[2022-08-01 16:59] ezoerner commented on #197
Fixed by doing:
`brew reinstall sdl2 pkg-config`

So,  the environment setup guide in this project should be changed to read:
`brew install sdl2 pkg-config`

[2022-08-04 00:17] fjvallarino commented on #197
Hi @ezoerner!

I had the impression `pkg-config` was available by default with Homebrew. Most likely some package I installed added it as a dependency.

I just merged to main an [update to the setup page](https://github.com/fjvallarino/monomer/pull/198).

Thanks for reporting!

[2022-08-10 02:29] fjvallarino commented on #197
I'll close the issue for the time being. Please re-open or create a new one if needed. Thanks!

[2022-08-10 02:29] #197 closed

[2022-08-10 02:29] fjvallarino commented on #187
I'll close the issue for the time being. Please re-open or create a new one if needed. Thanks!

[2022-08-10 02:29] #187 closed

[2022-08-10 16:36] MilesLitteral opened #200 "(Question) Mouse Hover Events"
Hello @fjvallarino

I was curious if Monomer had out of the box support for MouseHover (or MouseOver) events similar to Keystroke, I was looking through hackage and tutorials but I feel maybe I missed something?

[2022-08-10 16:41] ShrykeWindgrace commented on #187
Sorry for not reporting my results before going on a vacation; I will test and, if the problem persists, will re-open the issue.

[2022-08-10 17:02] MuhammedZakir commented on #200
Use `onEnter` and `onLeave` event handlers along with `box_`. See tutorial 4 (Tasks) for an example.

[2022-08-10 17:04] MilesLitteral commented on #200
Thanks!

[2022-08-11 15:46] Anteproperispomenon opened #201 "Issue setting up environment on Windows (again)"
I tried setting the environment up on Windows, but I ran into the usual `"signature from ... is unknown trust"` error. Unfortunately, just removing stack directories/reinstalling stack wasn't enough, and it took me a while to get it to work. However, eventually, I was able to set it up using a complex series of commands.

(Based on https://github.com/msys2/MSYS2-packages/issues/2343#issuecomment-8

[2022-08-13 13:27] fjvallarino commented on #201
Hi @Anteproperispomenon!

Thanks for the detailed solution! I'll update the documentation to reflect this.

Supposedly, the latest versions of MinGW fix this issue, but probably the version shipped with Stack is outdated. Crossing fingers that it will be updated at some point.

[2022-08-13 15:21] jiangbowen0 commented on #201
I setup monomer today on windows and ran into this same issue. I didn't use stack, only `cabal install` with cabal installed by ghcup. Running `pacman -S msys2-keyring` in an msys2 shell fixed the issue without needing the rest of the solution.

To share a few other points I noticed about building monomer with cabal, my ghcup-installed distribution of msys2 came with `mingw-w64-x86_64-pkgconf` alr

[2022-08-14 19:15] fjvallarino commented on #201
Hi @jiangbowen0!

The Cabal issue you mentioned seems to be related to this: https://github.com/haskell/cabal/issues/7787. I'm mainly a Stack user, and when I tested building with Cabal it probably succeeded because I had FreeType installed. At some point I  need to add a Cabal specific section to document all these issues and possible solutions.

I'll add a note about `msys2-keyring` alone maybe

[2022-08-29 06:09] aspidites commented on #201
Not sure if it's related, but I was having similar issues (pkgconf complaining) on Arch Linux until I downgraded to cabal 3.6.2.0.  I'll also note that it wasn't just monomer that was affected for me, but rather any library that depended on system libraries being installed (such as gi-gtk).

[2022-08-31 07:37] jxxcarlson commented on #1
Hello jvallarino, I just came across your project - marvelous!  I'm hoping to use it to build a desktop version of https://scripta.io, the main feature of which is real-time editing of LaTeX documents - instantaneous (ha ha!, but pretty close) rendering of LaTeX to Html.  Scripta.io is written in Elm.  Alas, I'll have to wait for GHC 9.2, I guess -- I only have an M1 mac.

Anyhow, Monomer looks re

[2022-08-31 07:44] jxxcarlson commented on #1
Ah, Just saw @DavSanchez 's post above.  I tried the indicated configuration, but got the errors listed below.  I am running MacOS 12.5:

[code]

[2022-08-31 07:46] jxxcarlson commented on #1
Could the below be the problem?

[code]

[2022-08-31 10:12] DavSanchez commented on #1
Not sure if this will work, but given that LLVM seems to be already in your `PATH`, have you tried setting up `LDFLAGS` and `CPPFLAGS` as the LLVM package for Homebrew suggests? I'll try to compile it again when I get back from work.

[code]

[2022-09-01 19:17] jxxcarlson commented on #1
I tried the exports you mentioned, but the result was the same.  Regarding `target`, as in the below, should it perhaps be x86?

[code]

[2022-09-04 10:37] futu2 opened #202 "Support GHC 9.2.*"
When built with GHC 9.2.3 and 9.2.4, encountering error

[code]

[2022-09-04 15:48] Dretch commented on #202
This looks like the issue that was fixed in #159.

There is not currently a release version with the fix, but you can might be able to use the unreleased code. E.g. with stack, put something like in your stack.yaml:

[code]

[2022-09-04 19:21] #202 closed

[2022-09-10 14:16] jxxcarlson commented on #1
Another attempt!  I've installed ghc 9.2.4 on mac m1 using ghcup.  Would now like to use it to experiment with monomer.  When I do `cabal build` I get this:

[code]
Is there a way to configure things so that cabal knows where 9.2.4 is?

[2022-09-10 16:59] Dretch opened #203 "Feature request/suggestion: alert shadows"
Basically I think shadows look nice.

### Without shadows (current)

![without-shadow](https://user-images.githubusercontent.com/1428731/189493694-ee4d9d45-67d9-477d-9d48-c444c4bfe213.png)

### With shadows (proposed)

![with-shadow](https://user-images.githubusercontent.com/1428731/189493710-cbcd9286-4a71-44b5-af21-b6cc33221cb3.png)

If this is something you would be willing to add to Monomer the

[2022-09-10 21:16] fjvallarino commented on #201
@aspidites thanks! I'll try in a clean VM to see what happens.

[2022-09-10 22:10] fjvallarino commented on #1
@jxxcarlson I still have not had the chance of trying to build the project on an M1, but I'll be testing on one in a couple of weeks.

An LTS version of Stackage for GHC 9.2 is not yet available (this is the version that includes a native code generator for those processors), but nightlies keep being released. I just pushed a branch for testing that uses Stackage `nightly-2022-09-10`. The branch n

[2022-09-10 22:17] fjvallarino commented on #203
Hi @Dretch!

Absolutely, I'm interested in the PR! I have not added the `boxGradient` yet mainly to avoid tying the code too much to NanoVG, but I don't think replicating what that function does would be too complex in case we ever move away from using that library.

Regarding how the shadow is displayed, an alternative is to have it visible only on two of the borders, so it gives a feeling that t

[2022-09-11 10:46] fjvallarino commented on #200
I think this issue can be closed. Please re-open if needed. Thanks!

[2022-09-11 10:46] #200 closed

[2022-09-14 18:38] jxxcarlson opened #204 "File system access"
Not sure if this is the best way to ask noob questions ....

Does monomer give file system access?

((Borrowed an intel mac so as to build monomer -- Yay!!))

[2022-09-14 23:29] fjvallarino commented on #204
Hi @jxxcarlson!

When handling an event, one of the values you can return is a `Task`. This value requires you to pass an `IO` action, where you can execute arbitrary code.

For example, modifying the Tutorial 01 a bit:

[code]

[Tutorial 04](https://github.com/fjvallarino/monomer/blob/main/docs/tutorials/04-tasks.md) explains how Tasks work, and can give you a better idea of what you can do. Look

[2022-09-15 05:15] jxxcarlson commented on #204
Thank you very much!  Your comments and the Book example were of enormous help.

I've made quite a bit  of progress (see screenshot below).  I can open a file, with the contents displayed in the left text area and the compiled-to-HTML version displayed as text in the right window.  I am using Blaze for the Html.  I would now like for the HTML version to be rendered as HTML in the right window.  Ho

[2022-09-15 12:21] fjvallarino commented on #204
Since Monomer uses OpenGL for rendering, and its content does not use the OS' regular UI, integrating the browser into an application is not possible. I remember seeing some years ago libraries for rendering HTML content into a texture, but even if it works well I think it would still be too painful.

Alternatively, you can try to parse you original format and render it with custom code (I think p

[2022-09-15 13:52] jxxcarlson commented on #204
Thanks! Will investigate Obelisk.  One potentially big obstacle is that I rely on KaTeX, a javascript library to render math equations.

[2022-09-16 12:21] fjvallarino commented on #204
Yes, in that case using a browser based solution is really the only option.

I'll close the issue for the time being. If you have any other questions, please re-open it or create a new one. Thanks!

[2022-09-16 12:21] #204 closed

[2022-09-20 14:38] jxxcarlson commented on #204
Thanks so much!!

[2022-09-23 05:05] MilesLitteral commented on #201
A nice catch all command to fix the windows issues could be:

`pacman -S  msys2-keyring mingw-w64-x86_64-pkg-config mingw-w64-x86_64-glew mingw-w64-x86_64-freeglut mingw-w64-x86_64-SDL2 mingw-w64-x86_64-freetype`

in the mingw64 that is being used to build the project, this fixed the same issue for me;  for some reason ghc will never look at Windows' true system path and this effects other haskell

[2022-09-23 20:57] fjvallarino commented on #201
@MilesLitteral thank you very much for pointing this out! I'll update the docs to include this.

Just to be sure: do you use Cabal or was this needed with Stack too?

[2022-09-28 09:06] Soupstraw opened #206 "Using sum types in Model"
I'm trying to make a text-based game using monomer, but I'm struggling a bit with making different views. For example, when the app is launched, I want the user to be in the main menu view. From there they can click on a button to move into the game view or the options view. The way I would implement this is to define the app model as a sum type like this:
[code]
Now when I want to add fields to t

[2022-09-28 12:11] Soupstraw commented on #206
Ahh, I wasn't aware of `singular`, I'll try it out.

[2022-10-05 03:07] MilesLitteral opened #207 "Windows: Console/stdout seems locked?"
Hello everyone, I have been using the monomer library between two platforms: Linux and Windows, I have noticed a performance difference in that on Linux the user can freely spawn Tasks (via an event) for printing some text/string to console but the same code will NOT work on Windows:

[code]

 It's as though Monomer is locked out of using the console! I did notice that only on Windows is DpiAwaren

[2022-10-05 03:09] MilesLitteral commented on #201
@fjvallarino my apologies on the late reply

this was needed with either; I tried to use Cabal with it first but shifted over to Stack and encountered the same problem

[2022-10-05 08:47] fjvallarino commented on #207
Hi @MilesLitteral!

I also faced this issue in the past and it's related to SDL2 build flags (here's a [reference to that issue](https://stackoverflow.com/a/54079540) in a C++ related question).

Unfortunately I don't currently have a Windows machine so I can't test it, but based on one of the last few comments in [this issue](https://github.com/haskell-game/sdl2/issues/86#issuecomment-523928830),

[2022-10-05 08:48] fjvallarino commented on #206
@Soupstraw I'll close the issue for now. Please re-open if needed or create a new one. Thanks!

[2022-10-05 08:48] #206 closed

[2022-10-05 16:58] MilesLitteral commented on #207
Thanks that worked 100%!

[2022-10-09 21:25] fjvallarino commented on #207
@MilesLitteral I'll close the issue. Please re-open or create a new one if needed. Thanks!

[2022-10-09 21:25] #207 closed

[2022-10-09 21:26] fjvallarino commented on #153
@srgtmshnk the conditional helpers have been released. They existed in a PR for a (long) while but, since they included changes in the tutorial, I preferred to delay merging them until a new version is ready.

I'll close the issue now. Please re-open or create a new one if needed. Thanks!

[2022-10-09 21:26] #153 closed

[2022-10-09 21:30] fjvallarino commented on #203
@Dretch this has been merged. I'll close the issue now. Thanks!

[2022-10-09 21:30] #203 closed

[2022-10-10 00:05] dimsuz opened #210 "[Question] How to set a default font size globally"
Is there a way to change default font size globally for all widgets? Searched in styling tutorial and there was no mention of this, only examples of individual widgets' font size change.

P.S. Sorry for posting question here, I suspect it might not be a right place. Where should I post such one-off questions? Is there an irc channel / slack channel / discourse / whatever means for beginners like m

[2022-10-10 00:38] dimsuz commented on #210
I've read a tutorial on styling more thoroughy and found this bit, I guess it gives an advice of an approach to follow:

[2022-10-10 00:38] #210 closed

[2022-10-10 09:59] fjvallarino commented on #210
Hi @dimsuz!

Asking here is the best option, since previous questions can be useful to other people.

In general I prefer the approach of styling widgets using helper functions, but sometimes it's easier to change the default theme. [That section of the tutorial](https://github.com/fjvallarino/monomer/blob/main/docs/tutorials/08-themes.md) is not documented as well as it should, but the general id

[2022-10-10 10:42] dimsuz commented on #210
Great! Thank you for the detailed answer, I will try this!

[2022-10-10 22:46] dimsuz opened #211 "Blurry fonts and icons"
I have a monitor which is generally produces blurriness when fonts are rendered, but running a monomer's "todo" example still feels very blurry.

Here's the screenshot of how it looks for me.

![image](https://user-images.githubusercontent.com/42920/194963206-cb38d654-3cdc-42dd-8243-481a1ffacf97.png)

Notice that I taken it on top of a googlefonts' Roboto page opened in Firefox and its more crispy

[2022-10-10 22:49] dimsuz commented on #211
Hmm after studying a screenshot a bit more, I'm not sure if this is a "bug": maybe Roboto in the browser page feels crispier because of the white background? But still my first reaction after launching the todo sample was "wow, it's hard to read" :)

[2022-10-10 23:46] dimsuz opened #212 "[Question] How to handle external events "globally""
My usecase: I want to be able to hit `Esc` or `Ctrl + Q` and quit the app, closing its window.
What is the best way to go about this?

I saw that when creating custom widgets one can use `handleEvent`, but what about handling events globally, on the app level?
I checked few tutorial samples and all `handleEvent` functions which are passed to `startApp` have a fixed user defined data type.

I can s

[2022-10-11 23:18] dimsuz opened #213 "[Question] How to adjust window title after startApp?"
It seems that the only way to set window title is to pass it with `config` to `startApp`, but is there a way to change it later?

Use case: app that has a list of items and then opening some item changes whole window contents to display item details and title can reflect which item is currently viewed. For example viewing book details could change window title to the book title.

[2022-10-12 10:14] fjvallarino commented on #212
To handle a _global_ keyboard event you can use the [keystroke](https://github.com/fjvallarino/monomer/blob/main/docs/tutorials/03-life-cycle.md#keystroke) widget, and have it be your top level widget. This widget provides a way of handling events at the Application/Composite level. The To-Do example uses this widget. Since this widget has a single widget as its child, you can just put it before t

[2022-10-12 10:24] fjvallarino commented on #213
The top-level Application is itself a [Composite](https://github.com/fjvallarino/monomer/blob/main/docs/tutorials/06-composite.md), and besides user-events they have the option of [returning other things](https://github.com/fjvallarino/monomer/blob/main/docs/tutorials/06-composite.md#widget-requests). One of them, [WidgetRequest](https://hackage.haskell.org/package/monomer-1.5.0.0/docs/Monomer-Cor

[2022-10-12 10:26] fjvallarino commented on #211
This looks more like an issue on the Window Manager/OpenGL driver side. If you look at the [examples](https://github.com/fjvallarino/monomer/blob/main/docs/examples/01-todo.md), which include a (heavily compressed) .gif, you'll see the text looks much crisper.